<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="64px">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Customer ID Column -->
    <ng-container cdkColumnDef="customerId">
        <mat-header-cell *cdkHeaderCellDef>Customer ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.customerId}} </mat-cell>
    </ng-container>

    <!-- Customer Name Column -->
    <ng-container cdkColumnDef="customerName">
        <mat-header-cell *cdkHeaderCellDef>Customer Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.customerName}} </mat-cell>
    </ng-container>

    <!-- Customer User Name Column -->
    <ng-container cdkColumnDef="customerEmail">
        <mat-header-cell *cdkHeaderCellDef>Customer Email</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.customerEmailAddress}} </mat-cell> ..
    </ng-container>

    <!-- Cashback Balance Column -->
    <ng-container cdkColumnDef="cashbackBalance">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Cashback Balance</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.cashbackBalance}}</mat-cell>
    </ng-container>

    <!-- Modified Column -->
    <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>{{row.modified}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openCustomerCashbackHistory($event,row.customerId)">
                        <!-- <mat-icon>View</mat-icon> -->
                        <span>View Details</span>
                    </button>
                    <!-- <button mat-menu-item (click)="openUserDashboard($event,row.id)">
                          <mat-icon>timeline</mat-icon>
                          <span>Activities</span>
                        </button> -->
                </mat-menu>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Detail Button Column -->
    <ng-container cdkColumnDef="detail-button">
        <mat-header-cell *cdkHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="48px" fxHide.gt-md>
            <button mat-icon-button class="sidenav-toggle" fuseMatSidenavToggler="file-manager-right-sidenav">
                <mat-icon>info</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)" [ngClass]="{'mat-light-blue-50-bg':row == selected}"
        matRipple [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>
<mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
</mat-paginator>