<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0" style="height:104px">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-button class="mat-icon-button" (click)="closeDialog('cancel')" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="testwrapper">

        <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar style="padding-top:0px !important" style="width: 100%;">

            <form name="slotForm" [formGroup]="slotForm" class="event-form w-100-p" fxLayout="column" fxFlex>


                <div class="" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

                    <mat-form-field class="mr-sm-24" fxFlex>
                        <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="Date" [(ngModel)]="slot.Date" readonly>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="mr-sm-26" fxFlex>
                        <input matInput name="merchantId" formControlName="merchantId" placeholder="Merchant ID" required [(ngModel)]="selectedId">
                    </mat-form-field>

                </div>



                <div *ngIf="merchantAttached">
                    <h2>Merchant name : {{selectedMerchant.name}}</h2>
                </div>

                <!-- CARD 4 -->
                <div class="card">

                    <!-- PREVIEW -->
                    <div class="card-preview">

                        <div class="fuse-card " fxFlex="100">

                            <div class="p-16 mat-indigo-bg" *ngIf="!merchantAttached">
                                <div class="h1">Please Enter a valid merchant Id</div>
                            </div>

                            <div *ngIf="merchantAttached">
                                    <img style="position: relative;
                                    bottom: 15px;
                                    " src="{{'https://quotientmedia.blob.core.windows.net/mediacontainer/'+selectedMerchant.id+'_large.png'}}">

                                
                            </div>
                        </div>

                    </div>
                    <!-- / PREVIEW -->
                </div>
                <!-- / CARD 4 -->

                <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" style="padding-bottom:0px !important">

                </div>
            </form>

        </div>

        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

            <button *ngIf="action !=='editPlacement'" mat-raised-button (click)="closeDialog(buttonAction)" class="save-button mat-accent"
                [disabled]="btndisable" aria-label="SAVE">
                SAVE
            </button>

            <button *ngIf="action ==='editPlacement'" mat-raised-button (click)="closeDialog('edit')" class="save-button mat-accent"
                [disabled]="btndisable" aria-label="SAVE">
            SAVE
        </button>

            <button *ngIf="action ==='editPlacement'" mat-button class="mat-icon-button" (click)="closeDialog('delete')" aria-label="Delete"
                matTooltip="Delete">
                <mat-icon>delete</mat-icon>
            </button>
        </div>






    </div>
</div>