<!-- CONTENT -->
<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" [formGroup]="form">

            <div class="h2 mb-24">Add New Affiliate Network </div>
<!-- 
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-slide-toggle [(ngModel)]="user.status" formControlName="status"> User Status</mat-slide-toggle>
            </div> -->


            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div fxFlex="50">
                <mat-form-field fxFlex="92">
                    <input matInput maxlength="255" placeholder="Affiliate Name" [(ngModel)]="affiliateNetwork.name" formControlName="name"  minlength="2"
                        pattern="[A-Za-z]+([ '-][a-zA-Z]+)*" required>
                    <mat-error *ngIf="formErrors.name.required">
                        Affiliate Name is required!
                    </mat-error>
                    <mat-error *ngIf="formErrors.name.minlength">
                        Affiliate Name must be at least 2 characters long!
                    </mat-error>
                    <mat-error *ngIf="!formErrors.name.minlength && formErrors.name.pattern">
                        Please enter a valid Affiliate Name!
                    </mat-error>
                </mat-form-field>
</div>



                <mat-form-field fxFlex="50">
                        <mat-select placeholder="Status" formControlName="status" [(ngModel)]="affiliateNetwork.status" required>
                            <mat-option *ngFor="let status of statusList" [value]="status">
                                {{status}}
                            </mat-option>
                        </mat-select>
                        <mat-error ng-show="formErrors.status.required">
                            Status is required!
                        </mat-error>
                    </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div fxFlex="50">
                <mat-form-field fxFlex="92">
                    <input matInput placeholder="API URL" [(ngModel)]="affiliateNetwork.apiUrl" formControlName="apiUrl" required>
                    <mat-error ng-show="formErrors.apiUrl.required">
                        API URL is required!
                    </mat-error>
                </mat-form-field>
                </div>



                <mat-form-field fxFlex="50">
                    <input matInput maxlength="255" placeholder="Publisher Id" [(ngModel)]="affiliateNetwork.publisherId" formControlName="publisherId" required>
                    <mat-error ng-show="formErrors.publisherId.required">
                        Publisher Id is required!
                    </mat-error>
                </mat-form-field>


            </div>

            





            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="ADD AFFILIATE" [disabled]="form.invalid">
                            ADD AFFILIATE
                        </button>

            </div>
        </form>


    </div>


</div>
<!-- / CONTENT -->