@import "src/@fuse/scss/fuse";

:host {
    width: 100%;

    .mat-table {
        background: transparent;
        box-shadow: none;
        background-color: rgb(139, 133, 87);
        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 40px;
            background-color:whitesmoke;

            .mat-cell {

                &.mat-column-icon {
                }

                &.mat-column-detail-button {
                }
            }
        }

        .mat-column-code {
            flex: 0 0 30px;
        }

        .mat-column-title {
            flex: 0 0 200px;
        }

        mat-cell {
            margin-right: 10px;
            text-align: left;
        }

        mat-header-cell {
            margin-right: 10px;
            text-align: left;
        }
    }
}
