<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" (ngSubmit)="onSubmit()" #formToMeasure fxLayout="column" fxLayoutAlign="start"
            fxLayoutGap="10px" fxFlex="1 0 auto" name="form" [formGroup]="form">

            <!--

            .Name                                            popular stores header
            - Normalized Name                               populare stores (image based checkbox)
            Heading
            Desciption Heading
            Descrition htmleditor
            link text slugg
            tag
            dynamic description

            -->
            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                <fancy-image-uploader [options]="fancyUploaderOptions" (onUpload)="onUpload($event)"></fancy-image-uploader>

            </div>

            <br>


            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 0 auto">


                <div fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="start" fxFlex="50">
                    <!-- Name -->
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Name" formControlName="name" required minlength="2" [(ngModel)]="seasonalEvent.name">

                    </mat-form-field>



                    <mat-label>Normalized Name: {{ normalizedName }}</mat-label>
       


                    <!-- Description Heading -->
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Description Heading" formControlName="descriptionHeading" required minlength="2" [(ngModel)]="seasonalEvent.descriptionHeading">
                        <mat-error *ngIf="formErrors.descriptionHeading.required">
                            Description Heading is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.descriptionHeading.minlength">
                            Description Heading must be at least 2 characters long!
                        </mat-error>
                    </mat-form-field>

                    <!-- Description -->
                    <mat-label>Description:</mat-label>
                    <app-ngx-editor [config]="editorConfig" placeholder="Description" [spellcheck]="true" formControlName="description" [height]="'250px'"
                        [(ngModel)]="seasonalEvent.description"></app-ngx-editor>


                    <!-- <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-form-field fxFlex="50">
                            <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate" [(ngModel)]="seasonalEvent.startDate"
                                readonly required>
                            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                            <mat-datepicker #startDate></mat-datepicker>
                            <mat-error *ngIf="formErrors.startDate.required">
                                Start Date is required!
                            </mat-error>
                        </mat-form-field>



                        <mat-form-field fxFlex="50">
                            <input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName="endDate" [(ngModel)]="seasonalEvent.endDate"
                                readonly required>
                            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                            <mat-datepicker #endDate></mat-datepicker>
                            <mat-error ng-show="formErrors.endDate.required">
                                End Date is required!
                            </mat-error>

                        </mat-form-field>

                    </div> -->

                    <!-- Link Text -->
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Link Text" formControlName="linkText" minlength="2" [(ngModel)]="seasonalEvent.linkText">
                        <mat-error *ngIf="formErrors.linkText.required">
                            Event Name is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.linkText.minlength">
                            Event Name must be at least 2 characters long!
                        </mat-error>
                    </mat-form-field>

                    <!-- Tags -->
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Tags" formControlName="tag" minlength="2" [(ngModel)]="seasonalEvent.tag">
                        <mat-error *ngIf="formErrors.tag.required">
                            Event Name is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.tag.minlength">
                            Event Name must be at least 2 characters long!
                        </mat-error>
                    </mat-form-field>

                    <mat-slide-toggle fxFlex="50" formControlName="status" [(ngModel)]="seasonStatus" labelPosition="after">
                        Pending
                    </mat-slide-toggle>
                </div>

                <div fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="start" fxFlex="50">

                    <!-- Popular Stores Heading -->
                    <mat-form-field fxFlex="1 0 auto">
                        <input matInput placeholder="Popular Stores Heading" formControlName="popularStoresHeading" minlength="2" [(ngModel)]="seasonalEvent.popularStoresHeading">
                        <mat-error *ngIf="formErrors.popularStoresHeading.required">
                            Popular Stores Heading is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.popularStoresHeading.minlength">
                            Popular Stores Heading must be at least 2 characters long!
                        </mat-error>
                    </mat-form-field>

                    <mat-label>Popular stores
                    </mat-label>

                    <mat-grid-list cols="2" rowHeight="2:1">
                        <mat-grid-tile *ngFor="let p of popularStores">
                            <div class="close-thik" (click)="removePopularStore(p.id)"></div>
                            <p>{{ p.name }}</p>
                        </mat-grid-tile>
                        <mat-grid-tile class="addButton" (click)="openAddPopularStore()">
                            <mat-icon>add</mat-icon>
                        </mat-grid-tile>
                    </mat-grid-list>





                </div>
            </div>

            <mat-form-field fxFlex="50">
                <input matInput placeholder="SEO Name" formControlName="seoTitle" required minlength="2" [(ngModel)]="seasonalEvent.seoTitle">

            </mat-form-field>



            <mat-form-field fxFlex="50">
                <input matInput placeholder="Dynamic Desciption" formControlName="seoDynamicDescription" minlength="2" [(ngModel)]="seasonalEvent.seoDynamicDescription">
                <mat-error *ngIf="formErrors.seoDynamicDescription.required">
                    Dynamic Description is required!
                </mat-error>
    
            </mat-form-field>
            <mat-form-field fxFlex="50">
                <input matInput placeholder="Meta Desciption" formControlName="seoMetaDescription" minlength="2" [(ngModel)]="seasonalEvent.seoMetaDescription">
                
                <mat-error *ngIf="formErrors.seoMetaDescription.minlength">
                    Meta Desciption must be at least 2 characters long!
                </mat-error>
            </mat-form-field>



            <!-- Submit Button -->
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="Submit" [disabled]="form.invalid">
                    Submit
                </button>


            </div>

        </form>

    </div>