@import "src/@fuse/scss/fuse";

:host {
    width: 100%;

    mat-dialog-container{
        max-height:85vh;
    }

    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 64px;

            .mat-cell {

                &.mat-column-icon {
                }

                &.mat-column-detail-button {
                }
            }
        }
    }

    /*
    .ngx-toolbar[_ngcontent-c34] .ngx-toolbar-set[_ngcontent-c34] .ngx-editor-button[_ngcontent-c34] {
        background-color: transparent;
        padding: .4rem;
        min-width: 4.5rem !important;
        min-height: 4.5rem !important;
        float: left;
        border: 1px solid #ddd;
        border-right: transparent;
        border-right-width: initial;
        border-right-style: initial;
        border-right-color: transparent;
    }
    */

    .ngx-toolbar {
        font-size: 1.2rem !important;
    }

    .ngx-editor[_ngcontent-c28] .ngx-wrapper[_ngcontent-c28] .ngx-editor-textarea[_ngcontent-c28] {
        height: auto;
        min-height: 100px !important;
    }
    ._ngcontent-c30{
        height: auto;
        min-height: 100px !important;
    }



    #close {
        float:right;
        display:inline-block;
        padding:2px 5px;
        background:#ccc;
    }

    .addButton {
        border: 3px dashed gray;
        border-radius: 8px;
        text-align: center;
        width: 100%;
        overflow: hidden;
        height: 17vh;
        line-height: 15vh;
        vertical-align: middle;
    }

    .addButton:hover {
        background-color: gray;
    }

    .close-thik {
      color: #777;
      font: 18px/100% arial, sans-serif;
      position: absolute;
      right: 5px;
      text-decoration: none;
      text-shadow: 0 1px 0 #fff;
      top: 5px;
    }

    .close-thik:after {
      content: '✖'; /* UTF-8 symbol */
    }

    mat-grid-tile {
        background-color: lightblue;
    }
}
