<div mat-dialog-content>

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="horizontal-stepper-wrapper">

            <!-- HORIZONTAL STEPPER EXAMPLE -->
            <mat-horizontal-stepper class="mat-elevation-z4">

                <mat-step [stepControl]="horizontalStepperStep1">

                    <form [formGroup]="horizontalStepperStep1">

                        <ng-template matStepLabel>Basic</ng-template>

                        <div>
                            <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                    <input matInput maxlength="255" placeholder="Name" formControlName="name" [(ngModel)]="merchant.name" (keyup)="onKey($event)"
                                        required>
                                    <mat-error ng-show="horizontalStepperStep1.name.required">
                                        Merchant Name is required!
                                    </mat-error>
                                </mat-form-field>

                            </div>

                            <mat-form-field fxFlex="50">
                                <mat-select placeholder="Country" formControlName="country" [(ngModel)]="merchant.country" required>
                                    <mat-option *ngFor="let country of countries" [value]="country.name">
                                        {{country.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="horizontalStepperStep1Errors.country.required">
                                    Country is required!
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                    <input matInput maxlength="255" placeholder="Alias" formControlName="alias" [(ngModel)]="merchant.alias">
                                    <!-- <mat-error *ngIf="horizontalStepperStep1Errors.alias.required">
                                    Alias is required!
                                </mat-error> -->
                                </mat-form-field>
                            </div>


                            <mat-form-field fxFlex="50">
                                <input matInput maxlength="255" placeholder="Title" formControlName="title" [(ngModel)]="merchant.title" required>
                                <mat-error *ngIf="horizontalStepperStep1Errors.title.required">
                                    Title is required!
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                            <mat-form-field fxFlex="100">
                                <textarea matInput placeholder="Description" formControlName="description" [(ngModel)]="merchant.description">
                            </textarea>
                            </mat-form-field>
                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                    <input matInput maxlength="255" placeholder="Heading 1" formControlName="h1" [(ngModel)]="merchant.h1" required>
                                    <mat-error *ngIf="horizontalStepperStep1Errors.h1.required">
                                        Heading 1 is required!
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <mat-form-field fxFlex="100">
                                <input matInput maxlength="255" placeholder="Search Terms" formControlName="searchTerms" [(ngModel)]="merchant.searchTerms"
                                    required>
                                <mat-error *ngIf="horizontalStepperStep1Errors.searchTerms.required">
                                    Search Terms are required!
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                    <mat-select placeholder="Barcode Format" formControlName="barcodeFormat" [compareWith]="compareObjects" [(ngModel)]="merchant.barcodeFormat">
                                        <mat-option *ngFor="let barcode of barcodesList" [value]="barcode" selected="merchant.barcodeFormat">
                                            {{barcode.name}}
                                        </mat-option>
                                    </mat-select>

                                    <!-- <mat-error *ngIf="horizontalStepperStep1Errors.barcodeFormat.required">
                                    Barcode Format is required!
                                </mat-error> -->
                                </mat-form-field>
                            </div>


                            <mat-form-field fxFlex="50">
                                <mat-select placeholder="Link To Master US Store" [compareWith]="compareObjects" formControlName="linkToMasterUsStore" [(ngModel)]="merchant.linkToMasterUsStore">
                                    <mat-option *ngFor="let merchant of merchantsList" [value]="merchant" selected="merchant.linkToMasterUsStore">
                                        {{merchant.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                    <mat-select placeholder="Merchant Tier" [compareWith]="compareObjects" formControlName="merchantTier" [(ngModel)]="merchant.tierLookup">
                                        <mat-option *ngFor="let merchantTier of merchantTierList" [value]="merchantTier">
                                            {{merchantTier.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex="50">

                            </div>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                            <mat-slide-toggle fxFlex="50" formControlName="featured" labelPosition="after" style="position: relative; float:right" [(ngModel)]="merchant.featured">
                                Featured
                            </mat-slide-toggle>

                            <mat-slide-toggle fxFlex="50" formControlName="monetized" labelPosition="after" style="position: relative; float:right" [(ngModel)]="merchant.isMonetized">
                                Monetized
                            </mat-slide-toggle>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                            <mat-slide-toggle fxFlex="50" formControlName="isActive" labelPosition="after" style="position: relative; float:right" [(ngModel)]="merchant.isActive">
                                Merchant Status
                            </mat-slide-toggle>

                            <mat-slide-toggle fxFlex="50" formControlName="displayExpiredOffers" labelPosition="after" style="position: relative; float:right"
                                [(ngModel)]="merchant.showExpiredOffers">
                                Do not display expired offers
                            </mat-slide-toggle>

                        </div>


                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep1.invalid">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="horizontalStepperStep2">

                    <form [formGroup]="horizontalStepperStep2">

                        <ng-template matStepLabel>Logos</ng-template>

                        <div align="center">

                            <div>
                                <h1> Large Logo </h1>
                            </div>

                            <div>
                                <img id="largeImage" src={{largeImgUrl}} style="display: block">
                            </div>

                            <div fxLayoutAlign="center center">
                                <!-- FULL DESKTOP IMAGE CARD -->
                                <div class="card" style="margin-bottom:10px" style="display: none;" id="largeImageUploader">
                                    <!-- PREVIEW -->
                                    <div class="card-preview">
                                        <div class="fuse-card" fxFlex="100">
                                            <!-- <fancy-image-uploader [options]="largeLogoOptions" (onUpload)="onUploadLargeImage($event)" fxFlex="60"></fancy-image-uploader> -->
                                            <fancy-image-uploader [options]="largeLogoOptions" (onUpload)="onUploadLargeImage($event)" fxFlex="60"></fancy-image-uploader>

                                            <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center" style="margin-top:8px">
                                                <small> Note*
                                                    <br> Only 234 * 60 is acceptable
                                                    <br> Only PNG format is acceptable </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / PREVIEW -->
                                </div>
                                <!-- / FULL DESKTOP IMAGE CARD  -->
                            </div>

                            <button color="basic" id="updateLargeImageBtn" class="mat-fab" mat-raised-button (click)=hideImage($event) type="button"
                                style="display: block; position:relative; margin-top: 20px;" align="centre">
                                <mat-icon>cloud_upload</mat-icon>
                            </button>


                            <button color="basic" class="mat-fab" id="CancelUpdateLargeImageBtn" fxLayoutAlign="center center" mat-raised-button (click)=showImage($event)
                                type="button" style="display: none; visibility:hidden; position:relative; margin-top: 20px;"
                                align="centre">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </div>

                        <div class="pt-24" style="margin-top: 20px;" align="center">

                            <div>
                                <h1> Small Logo </h1>
                            </div>

                            <div>
                                <img id="smallImage" src="{{smallImgUrl}}" style="display: block">
                            </div>

                            <div fxLayoutAlign="center center">
                                <!-- <fancy-image-uploader id="smallImageUploader" [options]="smallLogoOptions" (onUpload)="onUploadSmallImage($event)" fxFlex="50"
                                style="display: none"></fancy-image-uploader> -->

                                <!-- FULL DESKTOP IMAGE CARD -->
                                <div class="card" style="margin-bottom:10px" id="smallImageUploader" style="display: none">
                                    <!-- PREVIEW -->
                                    <div class="card-preview">
                                        <div class="fuse-card" fxFlex="100">
                                            <fancy-image-uploader id="smallImageUploader" [options]="smallLogoOptions" (onUpload)="onUploadSmallImage($event)" fxFlex="60"></fancy-image-uploader>

                                            <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center" style="margin-top:8px">
                                                <small> Note*
                                                    <br> Only 88 * 31 is acceptable
                                                    <br> Only PNG format is acceptable </small>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / PREVIEW -->
                                </div>
                                <!-- / FULL DESKTOP IMAGE CARD  -->
                            </div>

                            <button color="basic" id="updateSmallImageBtn" class="mat-fab" mat-raised-button (click)=hideImage($event) type="button"
                                style="display: block" style="display: block; position:relative; margin-top: 20px;" align="centre">
                                <mat-icon>cloud_upload</mat-icon>
                            </button>

                            <button color="basic" class="mat-fab" id="CancelUpdateSmallImageBtn" fxLayoutAlign="center center" mat-raised-button (click)=showImage($event)
                                type="button" style="display: none; visibility:hidden; position:relative; margin-top: 20px;"
                                align="centre">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 20px;">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep2.invalid">
                                Next
                            </button>
                        </div>

                    </form>
                </mat-step>

                <mat-step [stepControl]="horizontalStepperStep3">

                    <form [formGroup]="horizontalStepperStep3">

                        <ng-template matStepLabel>Categories</ng-template>

                        <div fxLayout="row" fxLayoutAlign="center center">


                            <mat-form-field fxFlex="50">
                                <mat-select placeholder="Merchant Category" formControlName="merchantCategory" [compareWith]="compareObjects" [(ngModel)]="merchant.merchantCategoryId"
                                    required>
                                    <div *ngFor="let category of categoriesGroups">
                                        <mat-option [value]="category" selected="merchant.merchantCategoryId">{{category.name}}</mat-option>
                                        <mat-optgroup *ngFor="let subCategoryGroup of category.subCategories" [label]="subCategoryGroup.name">
                                            <mat-option *ngFor="let subCategory of subCategoryGroup.subCategories" selected="merchant.merchantCategoryId" [value]="subCategory">
                                                {{ subCategory.name }}
                                            </mat-option>
                                        </mat-optgroup>
                                    </div>
                                </mat-select>
                            </mat-form-field>

                            <div fxFlex="50">

                            </div>

                        </div>


                        <div class="content p-24">

                            <mat-accordion class="example-headers-align" *ngFor="let category of categoriesList; let i = index">

                                <mat-expansion-panel hideToggle="true">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <p>
                                                {{category.name}}
                                            </p>
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            <p>
                                                Select Sub-categories From {{category.name}} category
                                            </p>
                                            <p>
                                                <mat-checkbox [(ngModel)]="categoriesList[i].checked" formControlName="{{category.name}}" (click)="$event.stopPropagation();"
                                                    (change)="OnSubcategoriesChangeStatus($event,category)"></mat-checkbox>
                                            </p>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>


                                    <mat-table #table [dataSource]="category.subCategories" matSort *fuseIfOnDom>

                                        <!-- Name Column -->
                                        <ng-container cdkColumnDef="name">
                                            <mat-header-cell *cdkHeaderCellDef>Sub-category Name</mat-header-cell>
                                            <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
                                        </ng-container>

                                        <!-- Description Column -->
                                        <ng-container cdkColumnDef="description">
                                            <mat-header-cell *cdkHeaderCellDef>Description</mat-header-cell>
                                            <mat-cell *cdkCellDef="let row"> {{row.description}}</mat-cell>
                                        </ng-container>

                                        <!-- Enable Column -->
                                        <ng-container cdkColumnDef="enable">
                                            <mat-header-cell *cdkHeaderCellDef>Enable</mat-header-cell>
                                            <mat-cell *cdkCellDef="let row">
                                                <mat-checkbox formControlName="{{row.name}}" [(ngModel)]="row.checked" (change)="OnCategoryChangeStatus($event,i)"></mat-checkbox>
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}" matRipple></mat-row>

                                    </mat-table>


                                </mat-expansion-panel>

                            </mat-accordion>
                        </div>


                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep3.invalid">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="horizontalStepperStep4">

                    <form [formGroup]="horizontalStepperStep4">

                        <ng-template matStepLabel>Affiliate</ng-template>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                    <mat-select placeholder="Affiliate Network" formControlName="affiliateNetwork" [compareWith]="compareObjects" [(ngModel)]="merchant.affiliateNetwork"
                                        required>
                                        <mat-option *ngFor="let affiliateNetwork of affiliateNetworksList" [value]="affiliateNetwork" selected="merchant.affiliateNetwork">
                                            {{affiliateNetwork.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="horizontalStepperStep4Errors.affiliateNetwork.required">
                                        Affiliate Network is required!
                                    </mat-error>
                                </mat-form-field>
                            </div>



                            <mat-form-field fxFlex="50">
                                <mat-select placeholder="Affiliate Status" formControlName="merchantAffiliateStatus" [compareWith]="compareObjects" [(ngModel)]="merchant.merchantAffiliateStatus"
                                    required>
                                    <mat-option *ngFor="let merchantAffiliateStatus of merchantAffiliateStatusList" [value]="merchantAffiliateStatus" selected="merchant.merchantAffiliateStatus">
                                        {{merchantAffiliateStatus.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="horizontalStepperStep4Errors.merchantAffiliateStatus.required">
                                    Affiliate Status is required!
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                    <input matInput maxlength="255" placeholder="Affiliate Merchant Id" formControlName="affiliateMerchantId" [(ngModel)]="merchant.affiliateMerchantId"
                                        required>
                                    <mat-error *ngIf="horizontalStepperStep4Errors.affiliateMerchantId.required">
                                        Affiliate Merchant Id is required!
                                    </mat-error>
                                    <!-- <mat-error *ngIf="!horizontalStepperStep4Errors.affiliateMerchantId.required && horizontalStepperStep4Errors.affiliateMerchantId.pattern">
                                    Affiliate Merchant Id can only contain digits!
                                </mat-error> -->
                                </mat-form-field>
                            </div>
                            <div fxFlex="50">

                            </div>

                        </div>


                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep4.invalid">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="horizontalStepperStep5">

                    <form [formGroup]="horizontalStepperStep5">

                        <ng-template matStepLabel>URLs</ng-template>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                    <input maxlength="255" matInput placeholder="Redirect URL" formControlName="redirectUrl" [(ngModel)]="merchant.redirectUrl"
                                        required>
                                    <mat-error *ngIf="horizontalStepperStep5Errors.redirectUrl.required">
                                        Redirect URL is required!
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <mat-form-field fxFlex="50">
                                <input maxlength="255" matInput placeholder="CI URL" formControlName="ciUrl" [(ngModel)]="merchant.ciUrl" readonly>

                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                    <input maxlength="255" matInput placeholder="Domain URL" formControlName="domainUrl" [(ngModel)]="merchant.domainUrl">
                                    <!-- <mat-error *ngIf="horizontalStepperStep5Errors.domainUrl.required">
                                    Domain URL is required!
                                </mat-error> -->
                                </mat-form-field>
                            </div>


                            <mat-form-field fxFlex="50">
                                <input matInput maxlength="255" placeholder="Normalized URL Name " formControlName="normalizedUrl" [(ngModel)]="merchant.normalizedUrlName"
                                    required>
                                <mat-error *ngIf="horizontalStepperStep5Errors.normalizedUrl.required">
                                    Normalized URL Name is required!
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep5.invalid">
                                Next
                            </button>
                        </div>

                    </form>

                </mat-step>


                <mat-step [stepControl]="horizontalStepperStep6">

                    <form [formGroup]="horizontalStepperStep6">

                        <ng-template matStepLabel>Management</ng-template>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                    <mat-select placeholder="Manager" formControlName="manager" [compareWith]="compareObjects" [(ngModel)]="merchant.manager">
                                        <mat-option *ngFor="let user of usersList" [value]="user" selected="merchant.manager">
                                            {{user.firstName}} {{user.lastName}} ({{user.userName}})
                                        </mat-option>
                                    </mat-select>
                                    <!-- <mat-error *ngIf="horizontalStepperStep6Errors.manager.required">
                                    Manager is required!
                                </mat-error> -->
                                </mat-form-field>
                            </div>

                            <mat-form-field fxFlex="50">
                                <mat-select placeholder="Account Manager" formControlName="accountManager" [compareWith]="compareObjects" [(ngModel)]="merchant.accountManager">
                                    <mat-option *ngFor="let user of usersList" [value]="user" selected="merchant.accountManager">
                                        {{user.firstName}} {{user.lastName}} ({{user.userName}})
                                    </mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="horizontalStepperStep6Errors.accountManager.required">
                                Account Manager is required!
                            </mat-error> -->
                            </mat-form-field>

                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                    <textarea matInput placeholder="Admin Memo" formControlName="adminMemo" [(ngModel)]="merchant.adminMemo"></textarea>
                                </mat-form-field>
                            </div>

                            <mat-form-field fxFlex="50">
                                <textarea matInput placeholder="Account Manager Memo" formControlName="accountManagerMemo" [(ngModel)]="merchant.accountManagerMemo"></textarea>
                            </mat-form-field>


                        </div>

                        <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                Previous
                            </button>
                            <button mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()" [disabled]="horizontalStepperStep1.invalid || horizontalStepperStep2.invalid || horizontalStepperStep3.invalid || horizontalStepperStep4.invalid || horizontalStepperStep5.invalid || horizontalStepperStep6.invalid">
                                Finish
                            </button>
                        </div>

                    </form>

                </mat-step>

            </mat-horizontal-stepper>
            <!-- / HORIZONTAL STEPPER EXAMPLE -->

        </div>

    </div>
    <!-- / CONTENT -->

</div>

<span>
    <div mat-dialog-actions>
        <!-- <button type="button" mat-raised-button color="primary" class="mat-button mat-accent" (click)="update()">
            <span class="mat-button-wrapper">Update</span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
        </button> -->
        <button type="button" mat-raised-button color="warn" class="mat-button mat-warn" (click)="closeModal()">
            Close
        </button>
    </div>
</span>