<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="64px">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Type Column -->
    <!-- <ng-container cdkColumnDef="dateCreated">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Username</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.dateCreated}}</mat-cell>
    </ng-container> -->

    <!-- Owner Column -->
    <ng-container cdkColumnDef="createdBy">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs>Created By</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs>
            <span *ngIf="!dataSource.isCreatedByUsersReady"> - </span>
            <span *ngIf="dataSource.isCreatedByUsersReady"> {{row.createdBy.firstName}} </span>
        </mat-cell>
    </ng-container>

    <!-- Owner Column -->
    <ng-container cdkColumnDef="status">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs>Status</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs> {{row.status}} </mat-cell>
    </ng-container>

    <!-- Owner Column -->
    <!-- <ng-container cdkColumnDef="dateModified">
            <mat-header-cell *cdkHeaderCellDef fxHide.xs>User Type</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxHide.xs> {{row.dateModified}} </mat-cell>
        </ng-container> -->

    <!-- Owner Column -->
    <!-- <ng-container cdkColumnDef="modifiedBy">
            <mat-header-cell *cdkHeaderCellDef fxHide.xs>User Type</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxHide.xs> {{row.modifiedBy.firstName}} </mat-cell>
        </ng-container> -->

    <!-- Modified Column -->
    <ng-container cdkColumnDef="action-button">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>{{row.modified}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openAffiliateEdit($event,row.id)">
                      <mat-icon>edit</mat-icon>
                      <span>Update</span>
                    </button>
                  </mat-menu>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Detail Button Column -->
    <ng-container cdkColumnDef="detail-button">
        <mat-header-cell *cdkHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="48px" fxHide.gt-md>
            <button mat-icon-button class="sidenav-toggle"
                    fuseMatSidenavToggler="file-manager-right-sidenav">
                <mat-icon>info</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             (click)="onSelect(row)"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
