<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="64px">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="date">
        <mat-header-cell *cdkHeaderCellDef style="text-align:center">Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" style="text-align:center"> {{row.date}} </mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container cdkColumnDef="position1">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md style="text-align:center">Position 1</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md style="text-align:center;height:45px">
            <div  *ngIf="row.positions[1] == null">
                <button   mat-mini-fab class="add-file-button mat-accent" aria-label="Add User" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}" (click)="addDatePosition(row.date,1)">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div  matTooltip=" {{ row.positions[1].carouselPlacementExtras.header}} " *ngIf="row.positions[1] != null" style="margin-top:10px" (click)="editPosition(row.positions[1])" (mouseover)="hover()" >
                {{ row.positions[1].itemId}}
            </div>
        </mat-cell>
    </ng-container>

    <!-- Owner Column -->
    <ng-container cdkColumnDef="position2">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs style="text-align:center">Position 2</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs style="text-align:center;height:45px">
        <div *ngIf="row.positions[2] == null">
            <button mat-mini-fab class="add-file-button mat-accent" aria-label="Add User" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}" (click)="addDatePosition(row.date,2)">
                    <mat-icon>add</mat-icon>
                </button>
        </div>
        <div  matTooltip="   {{ row.positions[2].carouselPlacementExtras.header}} " *ngIf="row.positions[2] != null" style="margin-top:12px" (click)="editPosition(row.positions[2])">
            {{ row.positions[2].itemId}}
        </div>
        </mat-cell>
    </ng-container>

    <!-- Size Column -->
    <ng-container cdkColumnDef="position3">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs style="text-align:center">Position 3</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs style="text-align:center;height:45px">
        <div *ngIf="row.positions[3] == null">
            <button mat-mini-fab class="add-file-button mat-accent" aria-label="Add User" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}" (click)="addDatePosition(row.date,3)">
                    <mat-icon>add</mat-icon>
                </button>
        </div>
        <div  matTooltip="{{ row.positions[3].carouselPlacementExtras.header}}" *ngIf="row.positions[3] != null" style="margin-top:10px" (click)="editPosition(row.positions[3])">
            {{ row.positions[3].itemId}}
        </div>
        </mat-cell>
    </ng-container>

    <!-- Size Column -->
    <ng-container cdkColumnDef="position4">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs style="text-align:center">Position 4</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs style="text-align:center;height:45px">
        <div *ngIf="row.positions[4] == null">
            <button mat-mini-fab class="add-file-button mat-accent" aria-label="Add User" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}" (click)="addDatePosition(row.date,4)">
                    <mat-icon>add</mat-icon>
                </button>
        </div>
        <div  matTooltip="{{ row.positions[4].carouselPlacementExtras.header}} " *ngIf="row.positions[4] != null" style="margin-top:10px"(click)="editPosition(row.positions[4])">
            {{ row.positions[4].itemId}}
        </div>
        </mat-cell>
    </ng-container>

    <!-- Size Column -->
    <ng-container cdkColumnDef="position5">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs style="text-align:center">Position 5</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs style="text-align:center;height:45px">
            <div *ngIf="row.positions[5] == null">
                <button mat-mini-fab class="add-file-button mat-accent" aria-label="Add User" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}" (click)="addDatePosition(row.date,5)">
                            <mat-icon>add</mat-icon>
                        </button>
            </div>
            <div  matTooltip=" {{ row.positions[5].carouselPlacementExtras.header}}" *ngIf="row.positions[5] != null" style="margin-top:10px" (click)="editPosition(row.positions[5])">
                {{ row.positions[5].itemId}}
            </div>
        </mat-cell>
    </ng-container>

    <!-- Size Column -->
    <ng-container cdkColumnDef="end">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs style="text-align:center"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs style="text-align:center"></mat-cell>
    </ng-container>


    <mat-header-row *cdkHeaderRowDef="displayedColumns" style="height:70px;"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)" [ngClass]="{'mat-light-blue-50-bg':row == selected}"
        matRipple [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>
<!-- <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[10, 20]">
</mat-paginator> -->