<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="64px">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Coupon id Column -->
    <ng-container cdkColumnDef="Cid">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Coupon Id</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.couponId}}</mat-cell>
    </ng-container>

    <!-- Coupon title Column -->
    <ng-container cdkColumnDef="Ctitle">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Coupon Title</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.couponTitle}}</mat-cell>
    </ng-container>
    
    <!-- Merchant Name Column -->
    <ng-container cdkColumnDef="merchant_name">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Merchant Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.merchantName}}</mat-cell>
    </ng-container>

    <!-- Merchant Start date -->
    <ng-container cdkColumnDef="Sdate">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Start Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.startDate | date}}</mat-cell>
    </ng-container>
    
    <!-- Merchant end date -->
    <ng-container cdkColumnDef="Edate">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>End Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.endDate | date}}</mat-cell>
    </ng-container>



    <!-- Checkbox Column -->
    <ng-container cdkColumnDef="select">
      <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md style="text-align:center">
        <p>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </p>
      </mat-header-cell>
      <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md style="text-align:center">
        <p>
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </p>
      </mat-cell>
    </ng-container>


    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             (click)="onSelect(row)"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>

<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="pageSize"
[pageSizeOptions]="pageSizeOptions">
</mat-paginator>
