<!-- SIDENAV HEADER -->
<div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">

  <div class="logo" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="logo-icon mr-16">filter_list</mat-icon>
    <span class="logo-text h1">Filtering Options</span>
  </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content py-16" fusePerfectScrollbar>

  <div class="nav">

    <div class="example-container">

      <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Request Id" matInput formControlName="requestId">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Customer Id" matInput formControlName="customerId">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Customer Name" matInput formControlName="customerName" [matAutocomplete]="merchant">
          <mat-autocomplete #merchant="matAutocomplete" [displayWith]="displaySelectedName">
            <mat-option *ngFor="let customer of customerSearchResult" [value]="customer.name">
              {{ customer.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Request Amount" matInput formControlName="requestAmount">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-select placeholder="Request Status" formControlName="requestStatus">
            <mat-option *ngFor="let status of pauoutRequestStatusList" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>

        <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="Apply Filter" (click)="filter()"
          [disabled]="btnDisabled">
          Apply Filter
        </button>

      </form>

    </div>

  </div>

</div>
<!-- / SIDENAV CONTENT -->