<!-- REACTIVE FORM EXAMPLE -->

<form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" (ngSubmit)="onSubmit()" name="form" [formGroup]="form">
    <mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

        <!-- Type Column -->
        <ng-container cdkColumnDef="icon">
            <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
            </mat-cell>
        </ng-container>


        <ng-container cdkColumnDef="merchant-name">
            <mat-header-cell *cdkHeaderCellDef>Merchant</mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.name}}</mat-cell>
        </ng-container>



        <ng-container cdkColumnDef="user-name">
            <mat-header-cell *cdkHeaderCellDef>User Name</mat-header-cell>
            <mat-cell *cdkCellDef="let row;">
                <div fxFlex="100">
                    <mat-form-field>
                        <!-- [(ngModel)]="merchant.manager" -->
                        <mat-select placeholder="Select User Name" [compareWith]="compareObjects" formControlName="{{row.id}}" [(ngModel)]="row.usersList" multiple>
                            <mat-option *ngFor="let user of usersList" [value]="user">
                                {{user.userName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-cell>
        </ng-container>



        <!-- Modified Column -->
        <ng-container cdkColumnDef="modified">
            <mat-header-cell *cdkHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <div>
                    <button mat-raised-button type="button" color="accent" (click)="AssignReviews(row.id, row.usersList)">
                        Assign Users
                    </button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}" matRipple
            [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[25, 50, 100]">
    </mat-paginator>

    <button mat-raised-button type="button" color="accent" (click)="resetAssignments()">
        Reset Assignments
    </button>
    
</form>