<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="20px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="20px" (click)="onSelect(row)">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <ng-container cdkColumnDef="coupon_id">
        <mat-header-cell *cdkHeaderCellDef fxFlex="60px">Coupon ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="60px" (click)="onSelect(row)"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Code Column -->
    <!-- <ng-container cdkColumnDef="code">
            <mat-header-cell *cdkHeaderCellDef fxFlex="120px">Code</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="120px" (click)="onSelect(row)"> {{row.couponCode}} </mat-cell>
        </ng-container> -->

    <!-- Merchant Name Column -->
    <!-- <ng-container cdkColumnDef="merchant_name">
            <mat-header-cell *cdkHeaderCellDef>Merchant</mat-header-cell>
            <mat-cell *cdkCellDef="let row" (click)="onSelect(row)"> {{row.merchantName}} </mat-cell>
        </ng-container> -->

    <!-- Title Column -->
    <ng-container cdkColumnDef="title">
        <mat-header-cell style="text-align: center;" *cdkHeaderCellDef>Title</mat-header-cell>
        <mat-cell *cdkCellDef="let row" style="width:200px; height:20px; overflow:hidden" (click)="onSelect(row)"> {{row.title}} </mat-cell> ..
    </ng-container>

    <!-- Description Column -->
    <ng-container cdkColumnDef="description">
        <mat-header-cell style="text-align: center;" *cdkHeaderCellDef>Description</mat-header-cell>
        <mat-cell *cdkCellDef="let row" style="width:200px; height:20px; overflow:hidden" (click)="onSelect(row)"> {{row.description}} </mat-cell> ..
    </ng-container>

    <!-- Type Column -->
    <ng-container cdkColumnDef="type">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Type</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)"> {{row.couponType.title}}</mat-cell>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container cdkColumnDef="start_date">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Start Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)"> {{row.startDate | date: 'longDate'}}</mat-cell>
    </ng-container>

    <!-- End Date Column -->
    <ng-container cdkColumnDef="end_date">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>End Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)"> {{row.endDate | date: 'longDate'}}</mat-cell>
    </ng-container>

    <!-- Revenue Column -->
    <ng-container cdkColumnDef="revenue">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Revenue</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)"> {{row.commission}}</mat-cell>
    </ng-container>

    <!-- TODO - sorting -->
    <!-- ↑↓ Column -->
    <!-- <ng-container cdkColumnDef="↑↓">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>↑↓</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.revenue}}</mat-cell> ..
        </ng-container> -->

    <!-- TODO - click count dependency -->
    <!-- Clicks Column -->
    <ng-container cdkColumnDef="clicks">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Clicks</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.clickCount}}</mat-cell>
    </ng-container>

    <!-- Orders Column -->
    <ng-container cdkColumnDef="orders">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Orders</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)"> {{row.orderCount}}</mat-cell>
    </ng-container>

    <!-- Modified Column -->
    <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>{{row.modified}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openUserEdit($event,row.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Update</span>
                    </button>
                    <!-- <button mat-menu-item (click)="openUserDashboard($event,row.id)">
                          <mat-icon>timeline</mat-icon>
                          <span>Activities</span>
                        </button> -->
                </mat-menu>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Detail Button Column -->
    <ng-container cdkColumnDef="detail-button">
        <mat-header-cell *cdkHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="48px" fxHide.gt-md>
            <button mat-icon-button class="sidenav-toggle" fuseMatSidenavToggler="file-manager-right-sidenav">
                <mat-icon>info</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}" matRipple
        [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>
<mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[25, 50, 100]">
</mat-paginator>