<div id="file-manager" class="page-layout simple right-sidenav" fusePerfectScrollbar>

    <mat-sidenav-container>

        <!-- SIDENAV -->
        <!-- <mat-sidenav #leftSideNav class="sidenav left-sidenav" align="start" opened="false" mode="over" fuseMatSidenavHelper="file-manager-left-sidenav">
            <fuse-file-manager-main-sidenav [leftSideNav]="leftSideNav"></fuse-file-manager-main-sidenav>
        </mat-sidenav> -->
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center" fxFlex>

            <!-- HEADER -->
            <div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between start">

                <!-- TOOLBAR -->
                <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between start">

                    <!-- <div class="left-side" fxLayout="row">
                        <button mat-icon-button class="sidenav-toggle" fuseMatSidenavToggler="file-manager-left-sidenav">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div> -->

                    <!-- <div class="right-side" fxLayout="row">
                        <form [formGroup]="form">
                            <input *ngIf="isSearch==true" [matAutocomplete]="merchant" formControlName="merchantName" placeholder="Search" style="color: black;"
                            />
                            <mat-autocomplete #merchant="matAutocomplete" [displayWith]="displaySelectedName">
                                <mat-option *ngFor="let item of merchantSearchResult" [value]="item.name">
                                    {{ item.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </form>
                    </div> -->
                </div>
                <!-- / TOOLBAR -->

                <!-- BREADCRUMB -->
                <div class="breadcrumb h1 pl-72" fxLayout="row" fxLayoutAlign="start center" *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">

                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span> Search </span>
                        <mat-icon class="separator">chevron_right</mat-icon>
                        <span>Merchant Coupons</span>
                    </div>
                </div>
                <!-- / BREADCRUMB -->

                <!-- ADD FILE BUTTON -->
                <div class="file-uploader" id="add-file-button">
                    <input hidden type="file" #fileInput/>
                    <button mat-fab class="add-file-button mat-warn" (click)="openCouponAdd()" aria-label="Add User" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <!-- <div class="file-uploader" id="refresh-grid-button">
                    <input hidden type="file" #fileInput/>
                    <button mat-fab class="refresh-grid-button mat-warn" (click)="resetGrid()" aria-label="Add User" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div> -->

                <!-- / ADD FILE BUTTON -->
            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div class="content mat-white-bg" fusePerfectScrollbar>

                <mat-card>
                    <form-merchant-coupon-search (messageEvent)="receiveMessage($event)"></form-merchant-coupon-search>
                </mat-card>
                <!-- <mat-divider></mat-divider> -->

                <div *ngIf="loadMerchantCoupons === true ">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title>
                                <h1>Cashback Coupons</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <grid-merchant-cashback-coupons></grid-merchant-cashback-coupons>
                        </mat-card-content>
                    </mat-card>
                    <mat-divider></mat-divider>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <h1>Exclusive Offers</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <grid-merchant-exclusive-coupons></grid-merchant-exclusive-coupons>
                        </mat-card-content>
                    </mat-card>
                    <mat-divider></mat-divider>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <h1>Ongoing Offers</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <grid-merchant-ongoing-coupons></grid-merchant-ongoing-coupons>
                        </mat-card-content>
                    </mat-card>
                    <mat-divider></mat-divider>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <h1>Expired Deals</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <grid-merchant-expired-coupons></grid-merchant-expired-coupons>
                        </mat-card-content>
                    </mat-card>
                    <mat-divider></mat-divider>

                    <!-- <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h1>Online Deals</h1>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <grid-merchant-online-coupons></grid-merchant-online-coupons>
                    </mat-card-content>
                </mat-card>
                <mat-divider></mat-divider> -->

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <h1>Featured Offers</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <grid-merchant-featured-coupons></grid-merchant-featured-coupons>
                        </mat-card-content>
                    </mat-card>
                    <mat-divider></mat-divider>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <h1>Freeship Coupons</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <grid-merchant-freeship-coupons></grid-merchant-freeship-coupons>
                        </mat-card-content>
                    </mat-card>
                    <mat-divider></mat-divider>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <h1>Staff Picked Coupons</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <grid-merchant-staffpicked-coupons></grid-merchant-staffpicked-coupons>
                        </mat-card-content>
                    </mat-card>
                    <mat-divider></mat-divider>

                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>
                                <h1>Seasonal Coupons</h1>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <grid-merchant-seasonal-coupons></grid-merchant-seasonal-coupons>
                        </mat-card-content>
                    </mat-card>
                    <mat-divider></mat-divider>

                    <!-- <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h1>Top Coupons</h1>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <grid-merchant-top-coupons></grid-merchant-top-coupons>
                    </mat-card-content>
                </mat-card>
                <mat-divider></mat-divider> -->
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

        <!-- SIDENAV -->
        <!--
        <mat-sidenav class="sidenav right-sidenav " align="end" opened="true" mode="side"
                     fuseMatSidenavHelper="file-manager-right-sidenav" mat-is-locked-open="gt-md">
            <fuse-file-manager-details-sidenav></fuse-file-manager-details-sidenav>
        </mat-sidenav>
        -->
        <!-- / SIDENAV -->

    </mat-sidenav-container>
</div>