<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <!-- <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="64px">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container> -->

    <!-- Transaction ID Column -->
    <ng-container cdkColumnDef="transactionId">
        <mat-header-cell *cdkHeaderCellDef>Transaction ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.transactionId}} </mat-cell>
    </ng-container>

    <!-- Affiliate Offer ID Column -->
    <ng-container cdkColumnDef="affiliateOfferId">
        <mat-header-cell *cdkHeaderCellDef>Affiliate Offer ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.affiliateOfferId}} </mat-cell>
    </ng-container>

    <!-- Order ID Column -->
    <ng-container cdkColumnDef="orderId">
        <mat-header-cell *cdkHeaderCellDef>Order ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.orderId}} </mat-cell> ..
    </ng-container>

    <!-- Affiliate Commission Type Column -->
    <ng-container cdkColumnDef="affiliateCommissionTypeName">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Affiliate Commission Type</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.affiliateCommissionTypeName}}</mat-cell>
    </ng-container>

    <!-- TODO - sorting -->
    <!-- ↑↓ Column -->
    <!-- <ng-container cdkColumnDef="↑↓">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>↑↓</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.revenue}}</mat-cell> ..
    </ng-container> -->

    <!-- TODO - click count dependency -->
    <!-- Clicks Column -->
    <!-- <ng-container cdkColumnDef="clicks">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Clicks</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.clickCount}}</mat-cell> ..
    </ng-container> -->

    <!-- Commission Amount Column -->
    <ng-container cdkColumnDef="commissionAmount">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Commission Amount</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.commissionAmount}}</mat-cell>
    </ng-container>

    <!-- Sale Amount Column -->
    <ng-container cdkColumnDef="saleAmount">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Sale Amount</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.saleAmount}}</mat-cell>
    </ng-container>

    <!-- Merchant Column -->
    <ng-container cdkColumnDef="merchantAffiliateName">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Merchant</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.merchant}}</mat-cell>
    </ng-container>

    <!-- Affiliate Column -->
    <ng-container cdkColumnDef="affiliateName">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Affiliate</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.affiliate}}</mat-cell>
    </ng-container>

    <!-- Commission Status Column -->
    <ng-container cdkColumnDef="commissionStatusTitle">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Commission Status</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.commissionStatus}}</mat-cell>
    </ng-container>

    <!-- Affiliate Tracking ID Column -->
    <ng-container cdkColumnDef="sId">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Affiliate Tracking ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.affiliateTrackingId}}</mat-cell>
    </ng-container>

    <!-- Transaction Date Column -->
    <ng-container cdkColumnDef="transactionDate">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Transaction Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.transactionDate | date: 'longDate'}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="cashbackPercentage">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Cashback Percentage</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.cashbackPercentage}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="cashbackAmount">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Cashback Amount</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.cashbackAmount}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="cashbackStatus">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Cashback Status</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.cashbackStatus}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="customerName">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Consumer Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.consumerName}}</mat-cell>
    </ng-container>

    <!-- Transaction Date Column -->
    <!-- <ng-container cdkColumnDef="transactionDate">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Transaction Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.endDate | date: 'longDate'}}</mat-cell>
    </ng-container> -->

    <!-- Modified Column -->
    <!-- <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>{{row.modified}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openUserEdit($event,row.couponId)">
                        <mat-icon>edit</mat-icon>
                        <span>Update</span>
                    </button>
                </mat-menu>
            </div>
        </mat-cell>
    </ng-container> -->

    <!-- Detail Button Column -->
    <ng-container cdkColumnDef="detail-button">
        <mat-header-cell *cdkHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="48px" fxHide.gt-md>
            <button mat-icon-button class="sidenav-toggle" fuseMatSidenavToggler="file-manager-right-sidenav">
                <mat-icon>info</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)" [ngClass]="{'mat-light-blue-50-bg':row == selected}"
        matRipple [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>
<mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
</mat-paginator>