<div class="content py-16" fusePerfectScrollbar>

    <div class="nav">

        <div class="example-container">

            <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">

                <mat-form-field class="example-full-width">
                    <input type="text" matInput placeholder="Event Name" formControlName="eventname" [matAutocomplete]="merchant">
                    <mat-autocomplete #merchant="matAutocomplete" (optionSelected)="callSomeFunction($event)">
                        <mat-option *ngFor="let item of eventSearchResult" [value]="item.name">
                            {{ item.name }}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>


                <!-- <mat-form-field>
                    <mat-select placeholder="Status">
                        <mat-option *ng-for value="option">Option</mat-option>
                    </mat-select>
                </mat-form-field> -->
                
            </form>

        </div>
    </div>
</div>