<style>
    .my-drop-zone {
        border: dotted 3px lightgray;
    }

    .nv-file-over {
        border: dotted 3px red;
    }
    /* Default class applied to drop zones on over */

    .another-file-over-class {
        border: dotted 3px green;
    }

    html,
    body {
        height: 100%;
    }
</style>
<!-- CONTENT -->
<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form">

            <div class="h2 mb-24">Available Affiliate Network </div>
            <!-- <p> -->
            <ul>
                <li>Commission Junction</li>
                <li>Pepperjam</li>
            </ul>
            <!-- </p> -->






            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <button mat-raised-button color="accent" class="submit-button" aria-label="ADD AFFILIATE" (click)="syncCommission()">
                            Sync Commission
                        </button>

            </div>

            <br><br>

           

















            <div class="h2 mb-24">UnAvailable Affiliate Network </div>
            <!-- <p> -->

            <ul>
                <li>Link Share</li>
                <li>Impact Radius</li>
                <li>Shareasale</li>
                <li>Performance Horizon</li>
                <li>Avant Link</li>
                <li>Link Connector</li>
                <li>Skim Links</li>
                <li>Affiliate Future</li>
                <li>Link Share</li>
                <li>Impact Radius</li>
            </ul>
            <!-- </p> -->




        </form>


    </div>

    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
            <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form">
    
                <div class="h2 mb-24">Upload Payment File </div>
                <div class="row">
    
                    <div class="col-md-3">
    
                        <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br/>
    
                        <!-- Single
                               <input type="file" ng2FileSelect [uploader]="uploader" /> -->
                    </div>
                    <br><br>
    
                    <div class="col-md-9" style="margin-bottom: 40px">
    
                        <!-- <h3>Upload queue</h3>
                               <p>Queue length: {{ uploader?.queue?.length }}</p> -->
    
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="50%">Name</th>
                                    <th width="25%">Status</th>
                                    <th width="25%">Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of uploader.queue">
                                    <td><strong>{{ item?.file?.name }}</strong></td>
                                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                                    <td *ngIf="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        <span *ngIf="item.isSuccess"><mat-icon>check_circle</mat-icon></span>
                                        <span *ngIf="item.isCancel"><mat-icon>cloud_off</mat-icon></span>
                                        <span *ngIf="item.isError"><mat-icon>edit</mat-icon></span>
                                    </td>
                                    <td nowrap>
                                        <button mat-mini-fab type="button" color="accent" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                   <mat-icon>cloud_upload</mat-icon>
                                           </button>
                                        <button mat-mini-fab type="button" color="warn" (click)="item.cancel()" [disabled]="!item.isUploading">
                                                   <mat-icon>cloud_off</mat-icon>
                                           </button>
                                        <button mat-mini-fab type="button" color="delete" (click)="item.remove()">
                                                   <mat-icon>close</mat-icon>
                                           </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <br><br>
                        
                        <div>
                            <div>
                                Queue progress:
                                <div class="progress" style="">
                                    <!-- <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div> -->
                                    <mat-progress-bar mode="determinate" value="{{uploader.progress}}"></mat-progress-bar>
                                </div>
                            </div>
                            <br><br>
                            <button mat-raised-button type="button" color="accent" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                       <span class="glyphicon glyphicon-upload"></span> Upload all
                                   </button>
                            <button mat-raised-button type="button" color="warn" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                       <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                   </button>
                            <button mat-raised-button type="button" color="delete" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                       <span class="glyphicon glyphicon-trash"></span> Remove all
                                   </button>
                        </div>
    
                    </div>
    
                </div>


            </form>
        </div>


</div>
<!-- / CONTENT -->