<!-- CONTENT -->
<div class="content p-24">

    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="true" hideToggle="true">
            <!-- <mat-expansion-panel-header>
                <mat-panel-title>
                    User Role
                </mat-panel-title>
                <mat-panel-description>
                    Create User Role
                    <mat-icon>account_circle</mat-icon>
                    <mat-slide-toggle [(ngModel)]="roleStatus"></mat-slide-toggle>
                </mat-panel-description>
            </mat-expansion-panel-header> -->

            <br>
            <h2>Update User Role </h2>
            <!-- formControlName="roleTitle" -->
            <mat-form-field>
                <input matInput placeholder="Role Name" [(ngModel)]="role.title" required maxlength="255">
                <mat-error ng-show="formErrors.roleTitle.required">
                    Role Name is required!
                </mat-error>
            </mat-form-field>

            <mat-slide-toggle [(ngModel)]="role.status" labelPosition="before" style="position: relative; float:right">Active </mat-slide-toggle>

            <br />
            <br />

            <mat-accordion class="example-headers-align">

                <mat-expansion-panel hideToggle="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Administration
                        </mat-panel-title>
                        <mat-panel-description>
                            Select administration activities
                            <!-- <mat-icon>account_circle</mat-icon> -->
                            <!-- <mat-slide-toggle [(ngModel)]="merchantActivitiesStatus"></mat-slide-toggle> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-table #table [dataSource]="userManagementActivities" matSort *fuseIfOnDom>

                        <!-- Enable Column -->
                        <ng-container cdkColumnDef="enable">
                            <mat-header-cell *cdkHeaderCellDef>Enable</mat-header-cell>
                            <mat-cell *cdkCellDef="let row">
                                <mat-slide-toggle [(ngModel)]="row.isEnabled"></mat-slide-toggle>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container cdkColumnDef="name">
                            <mat-header-cell *cdkHeaderCellDef>Activity Name</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.title}} </mat-cell>
                        </ng-container>

                        <!-- Description Column -->
                        <ng-container cdkColumnDef="description">
                            <mat-header-cell *cdkHeaderCellDef>Description</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.description}}</mat-cell>
                        </ng-container>

                        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}" matRipple></mat-row>

                    </mat-table>

                    <mat-action-row>
                        <button mat-button color="accent" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Merchant
                        </mat-panel-title>
                        <mat-panel-description>
                            Select merchant activities
                            <!-- <mat-icon>account_circle</mat-icon> -->
                            <!-- <mat-slide-toggle [(ngModel)]="merchantActivitiesStatus"></mat-slide-toggle> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-table #table [dataSource]="merchantActivities" matSort *fuseIfOnDom>

                        <!-- Enable Column -->
                        <ng-container cdkColumnDef="enable">
                            <mat-header-cell *cdkHeaderCellDef>Enable</mat-header-cell>
                            <mat-cell *cdkCellDef="let row">
                                <mat-slide-toggle [(ngModel)]="row.isEnabled"></mat-slide-toggle>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container cdkColumnDef="name">
                            <mat-header-cell *cdkHeaderCellDef>Activity Name</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.title}} </mat-cell>
                        </ng-container>

                        <!-- Description Column -->
                        <ng-container cdkColumnDef="description">
                            <mat-header-cell *cdkHeaderCellDef>Description</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.description}}</mat-cell>
                        </ng-container>

                        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}" matRipple></mat-row>

                    </mat-table>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="accent" (click)="nextStep()">Next</button>
                    </mat-action-row>
                </mat-expansion-panel>


                <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Coupon
                        </mat-panel-title>
                        <mat-panel-description>
                            Select coupon activities
                            <!-- <mat-icon>account_circle</mat-icon> -->
                            <!-- <mat-slide-toggle [(ngModel)]="couponActivitiesStatus"></mat-slide-toggle> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-table #table [dataSource]="couponActivities" matSort *fuseIfOnDom>

                        <!-- Enable Column -->
                        <ng-container cdkColumnDef="enable">
                            <mat-header-cell *cdkHeaderCellDef>Enable</mat-header-cell>
                            <mat-cell *cdkCellDef="let row">
                                <mat-slide-toggle [(ngModel)]="row.isEnabled"></mat-slide-toggle>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container cdkColumnDef="name">
                            <mat-header-cell *cdkHeaderCellDef>Activity Name</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.title}} </mat-cell>
                        </ng-container>

                        <!-- Description Column -->
                        <ng-container cdkColumnDef="description">
                            <mat-header-cell *cdkHeaderCellDef>Description</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.description}}</mat-cell>
                        </ng-container>

                        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}" matRipple></mat-row>

                    </mat-table>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>

                </mat-expansion-panel>


                <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Seasonal Events
                        </mat-panel-title>
                        <mat-panel-description>
                            Select seasonal events activities
                            <!-- <mat-icon>account_circle</mat-icon> -->
                            <!-- <mat-slide-toggle [(ngModel)]="couponActivitiesStatus"></mat-slide-toggle> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-table #table [dataSource]="seasonalEventActivities" matSort *fuseIfOnDom>

                        <!-- Enable Column -->
                        <ng-container cdkColumnDef="enable">
                            <mat-header-cell *cdkHeaderCellDef>Enable</mat-header-cell>
                            <mat-cell *cdkCellDef="let row">
                                <mat-slide-toggle [(ngModel)]="row.isEnabled"></mat-slide-toggle>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container cdkColumnDef="name">
                            <mat-header-cell *cdkHeaderCellDef>Activity Name</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.title}} </mat-cell>
                        </ng-container>

                        <!-- Description Column -->
                        <ng-container cdkColumnDef="description">
                            <mat-header-cell *cdkHeaderCellDef>Description</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.description}}</mat-cell>
                        </ng-container>

                        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}" matRipple></mat-row>

                    </mat-table>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>

                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Affiliate Network
                        </mat-panel-title>
                        <mat-panel-description>
                            Select affiliate network activities
                            <!-- <mat-icon>account_circle</mat-icon> -->
                            <!-- <mat-slide-toggle [(ngModel)]="couponActivitiesStatus"></mat-slide-toggle> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-table #table [dataSource]="affiliateNetworkActivities" matSort *fuseIfOnDom>

                        <!-- Enable Column -->
                        <ng-container cdkColumnDef="enable">
                            <mat-header-cell *cdkHeaderCellDef>Enable</mat-header-cell>
                            <mat-cell *cdkCellDef="let row">
                                <mat-slide-toggle [(ngModel)]="row.isEnabled"></mat-slide-toggle>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container cdkColumnDef="name">
                            <mat-header-cell *cdkHeaderCellDef>Activity Name</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.title}} </mat-cell>
                        </ng-container>

                        <!-- Description Column -->
                        <ng-container cdkColumnDef="description">
                            <mat-header-cell *cdkHeaderCellDef>Description</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.description}}</mat-cell>
                        </ng-container>

                        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}" matRipple></mat-row>

                    </mat-table>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>

                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Placement
                        </mat-panel-title>
                        <mat-panel-description>
                            Select placement activities
                            <!-- <mat-icon>account_circle</mat-icon> -->
                            <!-- <mat-slide-toggle [(ngModel)]="couponActivitiesStatus"></mat-slide-toggle> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-table #table [dataSource]="placementActivities" matSort *fuseIfOnDom>

                        <!-- Enable Column -->
                        <ng-container cdkColumnDef="enable">
                            <mat-header-cell *cdkHeaderCellDef>Enable</mat-header-cell>
                            <mat-cell *cdkCellDef="let row">
                                <mat-slide-toggle [(ngModel)]="row.isEnabled"></mat-slide-toggle>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container cdkColumnDef="name">
                            <mat-header-cell *cdkHeaderCellDef>Activity Name</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.title}} </mat-cell>
                        </ng-container>

                        <!-- Description Column -->
                        <ng-container cdkColumnDef="description">
                            <mat-header-cell *cdkHeaderCellDef>Description</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.description}}</mat-cell>
                        </ng-container>

                        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}" matRipple></mat-row>

                    </mat-table>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">End</button>
                    </mat-action-row>

                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Commission and Cashback
                        </mat-panel-title>
                        <mat-panel-description>
                            Select commission and cashback activities
                            <!-- <mat-icon>account_circle</mat-icon> -->
                            <!-- <mat-slide-toggle [(ngModel)]="couponActivitiesStatus"></mat-slide-toggle> -->
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-table #table [dataSource]="commissionCashbackActivities" matSort *fuseIfOnDom>

                        <!-- Enable Column -->
                        <ng-container cdkColumnDef="enable">
                            <mat-header-cell *cdkHeaderCellDef>Enable</mat-header-cell>
                            <mat-cell *cdkCellDef="let row">
                                <mat-slide-toggle [(ngModel)]="row.isEnabled"></mat-slide-toggle>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container cdkColumnDef="name">
                            <mat-header-cell *cdkHeaderCellDef>Activity Name</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.title}} </mat-cell>
                        </ng-container>

                        <!-- Description Column -->
                        <ng-container cdkColumnDef="description">
                            <mat-header-cell *cdkHeaderCellDef>Description</mat-header-cell>
                            <mat-cell *cdkCellDef="let row"> {{row.description}}</mat-cell>
                        </ng-container>

                        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}" matRipple></mat-row>

                    </mat-table>

                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Previous</button>
                        <button mat-button color="primary" (click)="nextStep()">End</button>
                    </mat-action-row>

                </mat-expansion-panel>

            </mat-accordion>

            <mat-action-row>
                <!-- <button mat-button color="accent" (click)="onSubmit()">Submit</button> -->
                <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label=" UPDATE USER ROLE" (click)="onSubmit()">
                        UPDATE  ROLE
                </button>
            </mat-action-row>
        </mat-expansion-panel>

    </mat-accordion>

</div>
<!-- / CONTENT -->