<div id="file-manager" class="page-layout simple right-sidenav" fusePerfectScrollbar>

    <mat-sidenav-container>

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav left-sidenav" align="start" opened="false" mode="over"
                     fuseMatSidenavHelper="file-manager-left-sidenav">
            <fuse-file-manager-main-sidenav></fuse-file-manager-main-sidenav>
        </mat-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center" fxFlex>

            <!-- HEADER -->
            <div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between start">

                <!-- TOOLBAR -->
                <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between start">

                    <!-- <div class="left-side" fxLayout="row">
                        <button mat-icon-button class="sidenav-toggle"
                                fuseMatSidenavToggler="file-manager-left-sidenav">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                    </div> -->

                    <div class="file-uploaderleft-side" fxLayout="row">
                        <button type="button"
                            class="remove-button mat-warn"
                            mat-fab 
                            color="warn"
                            (click)="update(monetizedGrid)">
                                <mat-icon>remove</mat-icon>
                                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                <div class="mat-button-focus-overlay"></div>
                        </button>
                    </div>
                    
                    <div *ngIf="searchClicked" class="right-side" fxLayout="row">
                        <button mat-button class="mat-icon-button" 
                                aria-label="Search" 
                                matTooltip="Search"
                                (click)="searchClicked = !searchClicked">
                        </button>
                    </div>
                    
                    <mat-form-field *ngIf="!searchClicked">
                        <input type="text" placeholder="Merchant" aria-label="Number" matInput [formControl]="merchantSearchTerm">
                    </mat-form-field>

                </div>
                <!-- / TOOLBAR -->

                <!-- BREADCRUMB -->
                <div class="breadcrumb h1 pl-72" fxLayout="row" fxLayoutAlign="start center"
                     *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
                    <!-- <div *ngFor="let path of pathArr; last  as isLast" fxLayout="row" fxLayoutAlign="start center">
                        <span>{{path}}</span>
                        <mat-icon *ngIf="!isLast" class="separator">chevron_right</mat-icon>
                    </div> -->
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Monetized Merchant</span>
                        <mat-icon class="separator">chevron_right</mat-icon>
                        <span>List</span>
                    </div>
                </div>
                <!-- / BREADCRUMB -->

                <!-- ADD FILE BUTTON -->
                <div class="file-uploader">
                    <input hidden type="file" #fileInput/>
                    <button mat-fab
                            class="add-file-button mat-warn"
                            (click)="toggle()"
                            aria-label="Add Monetized Merchant"
                            *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <!-- / ADD FILE BUTTON -->

            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div class="content mat-white-bg" fusePerfectScrollbar>
                <fuse-file-list #monetizedGrid></fuse-file-list>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

        <!-- SIDENAV -->
        
<!--         <mat-sidenav class="sidenav right-sidenav" align="end" opened="false" mode="side"
                     fuseMatSidenavHelper="file-manager-right-sidenav" mat-is-locked-open="gt-md">
            <div fxFlexAlign="space-around" fusePerfectScrollbar>
                <fuse-ngx-datatable></fuse-ngx-datatable>
            </div>
        </mat-sidenav> -->
        
        <!-- / SIDENAV -->

    </mat-sidenav-container>
</div>
