<div class="content p-24">

    <!-- <div class="horizontal-stepper-wrapper"> -->

        <!-- HORIZONTAL STEPPER EXAMPLE -->
        <!-- <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true"> -->

            <!-- <mat-step [stepControl]="horizontalStepperStep1"> -->

                <form [formGroup]="horizontalStepperStep1">

                    <!-- <ng-template matStepLabel>Basic</ng-template> -->
<br>
                    <div>
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input maxlength="255" matInput placeholder="Title" formControlName="title" [(ngModel)]="coupon.title" required>
                                <mat-error *ngIf="horizontalStepperStep1Errors.title.required">
                                    Title is required!
                                </mat-error>

                                <mat-error *ngIf="horizontalStepperStep1Errors.title.maxlength">
                                    maximum 255 characters!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <mat-form-field fxFlex="50">
                            <input type="text" placeholder="Merchant" aria-label="Number" matInput formControlName="merchant" [(ngModel)]="coupon.merchant"
                                [matAutocomplete]="merchant">

                            <mat-autocomplete #merchant="matAutocomplete" [displayWith]="displaySlectedMerchant.bind(this)" (optionSelected)="populateFields($event)">
                                <mat-option *ngFor="let item of merchantSearchResult" [value]="item">
                                    {{ item.name }}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error>
                                <span class="help-block form-error text-danger small" ng-show="horizontalStepperStep1.controls['priority'].errors?.required &&
                                        horizontalStepperStep1.controls['priority'].touched">Select a merchant! </span>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div>

                        <div fxLayout="row" style="padding-top: 30px">
                            <mat-label>Description:</mat-label>
                        </div>

                        <div fxLayout="row" style="padding-top: 25px">
                            <app-ngx-editor height="100px" [placeholder]="'Enter description here...'" [spellcheck]="true" formControlName="description"
                                [(ngModel)]="coupon.description"></app-ngx-editor>
                        </div>

                    </div>



                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate" [(ngModel)]="coupon.startDate"
                                    readonly required>
                                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                <mat-datepicker #startDate></mat-datepicker>
                                <mat-error *ngIf="horizontalStepperStep1Errors.startDate.required">
                                    Start Date is required!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <mat-form-field fxFlex="50">
                            <input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName="endDate" [(ngModel)]="coupon.endDate" readonly
                                required>
                            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                            <mat-datepicker #endDate></mat-datepicker>
                            <mat-error ng-show="horizontalStepperStep1Errors.endDate.required">
                                End Date is required!
                            </mat-error>

                        </mat-form-field>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="Coupon Tags" formControlName="tags" [(ngModel)]="coupon.tags">
                                    </textarea>
                        </mat-form-field>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="Restrictions" formControlName="restrictions" [(ngModel)]="coupon.restrictions">
                                        </textarea>
                        </mat-form-field>

                    </div>


                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <mat-select disabled placeholder="Status" formControlName="status" [(ngModel)]="coupon.couponStatus" required>
                                    <mat-option *ngFor="let status of couponStatusList" [value]="status">
                                        {{status.title}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <span class="help-block form-error text-danger small" ng-show="horizontalStepperStep1.controls['status'].errors?.required &&
                                    horizontalStepperStep1.controls['status'].touched">Select a coupon status! </span>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <mat-form-field fxFlex="50">
                            <mat-select placeholder="Coupon Priority" formControlName="priority" [(ngModel)]="coupon.priority" required>
                                <mat-option *ngFor="let priority of couponPriorityList" [value]="priority">
                                    {{priority.title}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                <span class="help-block form-error text-danger small" ng-show="horizontalStepperStep1.controls['priority'].errors?.required &&
                                        horizontalStepperStep1.controls['priority'].touched">Select a coupon priority! </span>
                            </mat-error>
                        </mat-form-field>


                    </div>



                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <mat-select placeholder="Coupon Category" formControlName="couponCategory" [(ngModel)]="coupon.couponCategory" >
                                    <mat-option *ngFor="let category of couponCategoriesList" [value]="category">
                                        {{category.name}}
                                    </mat-option>
                                </mat-select>
                                <!-- <mat-error>
                                    <span class="help-block form-error text-danger small" ng-show="horizontalStepperStep1.controls['couponCategory'].errors?.required &&
                                                horizontalStepperStep1.controls['couponCategory'].touched">Select a coupon category! </span>
                                </mat-error> -->
                            </mat-form-field>
                        </div>

                        <mat-form-field fxFlex="50">
                            <input maxlength="255" matInput placeholder="Custom Button Text" formControlName="customButtonText" [(ngModel)]="coupon.customButtonText">
                            <mat-error *ngIf="horizontalStepperStep1Errors.customButtonText.maxlength">
                                maximum 255 characters!
                            </mat-error>
                        </mat-form-field>


                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-slide-toggle fxFlex="50" formControlName="isCashbackCoupon" [(ngModel)]="coupon.isCashbackCoupon" labelPosition="after"
                            style="position: relative; float:right">
                            Cashback Coupon
                        </mat-slide-toggle>

                        <div fxFlex="50">
                            <mat-form-field *ngIf="coupon.isCashbackCoupon==true" fxFlex="100">
                                <input maxlength="255" matInput placeholder="Cashback Percentage" formControlName="cashbackPercentage" [(ngModel)]="coupon.cashbackPercentage"
                                    pattern="^[0-9.]+$">
                                <mat-error *ngIf="horizontalStepperStep1Errors.cashbackPercentage.required">
                                    Cashback Percentage is required!
                                </mat-error>
                                <mat-error *ngIf="horizontalStepperStep1Errors.cashbackPercentage.pattern">
                                    Percentage can only consist numbers!
                                </mat-error>
                                <mat-error *ngIf="horizontalStepperStep1Errors.cashbackPercentage.maxlength">
                                    maximum 255 characters!
                                </mat-error>
                            </mat-form-field>
                        </div>

                    </div>


                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <mat-select placeholder="Coupon Type" formControlName="couponType" (selectionChange)="showOptions($event)" [(ngModel)]="coupon.couponType"
                                    required>
                                    <mat-option *ngFor="let type of couponTypeList" [value]="type">
                                        {{type.title}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>
                                    <span class="help-block form-error text-danger small" ng-show="horizontalStepperStep1.controls['couponType'].errors?.required &&
                                            horizontalStepperStep1.controls['couponType'].touched">Select a coupon type! </span>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="50">

                        </div>

                    </div>

                    <div *ngIf="isCode==true" class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-form-field fxFlex="100">
                            <input maxlength="255" matInput placeholder="Coupon Code" formControlName="code" [(ngModel)]="coupon.code" required>
                            <mat-error *ngIf="horizontalStepperStep1Errors.code.maxlength">
                                maximum 255 characters!
                            </mat-error>

                            <mat-error *ngIf="horizontalStepperStep1Errors.code">
                                Coupon Code is required!
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div *ngIf="isDeal==true" class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <div fxFlex="50">
                            <mat-form-field fxFlex="92" id="originalPriceControl">
                                <input id="originalid" maxlength="255" matInput placeholder="Original Price" formControlName="originalPrice" [(ngModel)]="coupon.originalPrice"
                                    pattern="^[0-9.]+$" required>
                                <mat-error *ngIf="horizontalStepperStep1Errors.originalPrice.required">
                                    Original Price is required!
                                </mat-error>
                                <mat-error *ngIf="horizontalStepperStep1Errors.originalPrice.pattern">
                                    Original Price can only consist numbers!
                                </mat-error>
                                <mat-error *ngIf="horizontalStepperStep1Errors.originalPrice.maxlength">
                                    maximum 255 characters!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <mat-form-field fxFlex="50" id="dealPriceControl">
                            <input id="dealid" maxlength="255" matInput placeholder="Deal Price" formControlName="dealPrice" [(ngModel)]="coupon.dealPrice"
                                pattern="^[0-9.]+$" required>
                            <mat-error *ngIf="horizontalStepperStep1Errors.dealPrice.required">
                                Deal Price is required!
                            </mat-error>
                            <mat-error *ngIf="horizontalStepperStep1Errors.dealPrice.pattern">
                                Deal Price can only consist numbers!
                            </mat-error>
                            <mat-error *ngIf="horizontalStepperStep1Errors.dealPrice.maxlength">
                                maximum 255 characters!
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div *ngIf="isDeal==true" class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <div fxFlex="50">
                            <mat-form-field fxFlex="92" id="savingControl">
                                <input id="savingid" maxlength="255" matInput placeholder="Savings" formControlName="saving" [(ngModel)]="coupon.saving"
                                    pattern="^[0-9.]+$" readonly>

                                <mat-error *ngIf="horizontalStepperStep1Errors.saving.pattern">
                                    Savings can only consist numbers!
                                </mat-error>
                                <mat-error *ngIf="horizontalStepperStep1Errors.saving.required">
                                    Savings is required!
                                </mat-error>
                                <mat-error *ngIf="horizontalStepperStep1Errors.saving.maxlength">
                                    maximum 255 characters!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="50">

                        </div>

                    </div>
       
                    <div *ngIf="isDeal==true" class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-slide-toggle fxFlex="50" id="showSavingsControl" formControlName="showSavings" [(ngModel)]="coupon.showSavings" labelPosition="after"
                            style="position: relative; float:right;">
                            Show Savings
                        </mat-slide-toggle>

                        <mat-slide-toggle fxFlex="50" id="excludeSavingsFromAlgoControl" formControlName="excludeSavingsFromAlgo" [(ngModel)]="coupon.excludeSavingsFromAlgo"
                            labelPosition="after" style="position: relative; float:right;">
                            Exclude Savings From Algo
                        </mat-slide-toggle>

                    </div>

                    <div *ngIf="isDeal==true" class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-slide-toggle fxFlex="50" id="overrideSavingsInTitleControl" formControlName="overrideSavingsInTitle" [(ngModel)]="coupon.overrideSavingsInTitle"
                            labelPosition="after" style="position: relative; float:right;">
                            Override Savings In Title
                        </mat-slide-toggle>

                        <mat-slide-toggle fxFlex="50" id="overrideSavingsInPodControl" formControlName="overrideSavingsInPod" [(ngModel)]="coupon.overrideSavingsInPod"
                            labelPosition="after" style="position: relative; float:right;">
                            Override Savings In Pod
                            <br>
                        </mat-slide-toggle>
                    </div>

                    


<br><br>


                    <div *ngIf="isInstore==true" class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <h2> Upload Instore Coupon Image </h2>
                    </div>
                    
                    <div *ngIf="isInstore==true" class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <!-- FULL DESKTOP IMAGE CARD -->
                        <div class="card" style="margin-bottom:10px">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <div class="fuse-card" fxFlex="100">
                                    <fancy-image-uploader [options]="InstoreImageOptions" (onUpload)="onUploadInstoreImage($event)" fxFlex="60"></fancy-image-uploader>
                                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center" style="margin-top:8px">
                                        <small> Note*
                                            <br> Min image size 255 * 255
                                            <br> Max image size 1500 * 1500
                                            <br> Only PNG format is acceptable </small>
                                    </div>
                                </div>
                            </div>
                            <!-- / PREVIEW -->
                        </div>
                        <!-- / FULL DESKTOP IMAGE CARD  -->
                    </div>
                    
                    <div *ngIf="isDeal==true" class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <h2> Upload Deal Image </h2>
                    </div>
                    
                    <div *ngIf="isDeal==true" class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <!-- FULL DESKTOP IMAGE CARD -->
                        <div class="card" style="margin-bottom:10px">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <div class="fuse-card" fxFlex="100">
                                    <fancy-image-uploader [options]="dealImageOptions" (onUpload)="onUploadDealImage($event)" fxFlex="60"></fancy-image-uploader>
                                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center" style="margin-top:8px">
                                        <small> Note*
                                            <br> Min image size 255 * 255
                                            <br> Max image size 1500 * 1500
                                            <br> Only PNG format is acceptable </small>
                                    </div>
                                </div>
                            </div>
                            <!-- / PREVIEW -->
                        </div>
                        <!-- / FULL DESKTOP IMAGE CARD  -->
                    </div>
             <br>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input maxlength="255" matInput placeholder="Meta Type" formControlName="metaType" [(ngModel)]="coupon.metaType">
                                <mat-error *ngIf="horizontalStepperStep1Errors.metaType.maxlength">
                                    maximum 255 characters!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <mat-form-field fxFlex="50">
                            <input maxlength="255" matInput placeholder="Meta Saving" formControlName="metaSaving" [(ngModel)]="coupon.metaSaving">
                            <mat-error *ngIf="horizontalStepperStep1Errors.metaSaving.maxlength">
                                maximum 255 characters!
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-slide-toggle fxFlex="50" formControlName="ongoingOffer" [(ngModel)]="coupon.ongoingOffer" labelPosition="after" style="position: relative; float:right">
                            Ongoing Offer
                        </mat-slide-toggle>

                        <mat-slide-toggle fxFlex="50" formControlName="exclusiveOffer" [(ngModel)]="coupon.exclusiveOffer" labelPosition="after"
                            style="position: relative; float:right">
                            Exclusive Offer
                        </mat-slide-toggle>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-slide-toggle fxFlex="50" formControlName="freeship" [(ngModel)]="coupon.freeShipping" labelPosition="after" style="position: relative; float:right">
                            Freeship
                        </mat-slide-toggle>

                        <mat-slide-toggle fxFlex="50" formControlName="alertsEligible" [(ngModel)]="coupon.alertsEligible" labelPosition="after"
                            style="position: relative; float:right">
                            Alerts Eligible
                        </mat-slide-toggle>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">


                        <mat-slide-toggle fxFlex="50" formControlName="hideExpirationDate" [(ngModel)]="coupon.hideExpirationDate" labelPosition="after"
                            style="position: relative; float:right">
                            Hide Expiration Date
                        </mat-slide-toggle>

                        <mat-slide-toggle fxFlex="100" formControlName="staffPicked" [(ngModel)]="coupon.staffPicked" labelPosition="after" style="position: relative; float:right">
                            Staff Picked Coupon
                        </mat-slide-toggle>


                    </div>
                    <br><br><br>


                    <div>
                        <h1>
                            Seasonal Events
                        </h1>
                    </div>
                    <br>


                    <div fxLayoutAlign="start center">
                        <mat-table #table [dataSource]="seasonalEventList" matSort *fuseIfOnDom>

                            <!-- Enable Column -->
                            <ng-container cdkColumnDef="id">
                                <mat-header-cell *cdkHeaderCellDef fxFlex="80px">Enable</mat-header-cell>
                                <mat-cell *cdkCellDef="let row" fxFlex="80px">
                                    <p>
                                        <mat-checkbox formControlName="{{row.id}}" (change)="OnAddSeasonalEvent($event,row)"></mat-checkbox>
                                    </p>
                                </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container cdkColumnDef="name">
                                <mat-header-cell *cdkHeaderCellDef fxFlex="300px">Seasonal Event</mat-header-cell>
                                <mat-cell *cdkCellDef="let row" fxFlex="300px"> {{row.name}} </mat-cell>
                            </ng-container>


                            <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}" matRipple></mat-row>

                        </mat-table>
                    </div>

                    <!--
                    <div class="pt-24" fxLayout="row">


                        <mat-slide-toggle fxFlex="50" formControlName="showExpiredCoupon" [(ngModel)]="coupon.showExpiredCoupon" labelPosition="after"
                            style="position: relative; float:right">
                            Show Expired Coupon
                        </mat-slide-toggle>

                    </div>
-->


<br>
<br>
<br>

<div>
    <h1>
        URLs
    </h1>
</div>
                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input maxlength="255" matInput placeholder="Redirect URL" formControlName="redirectUrl" [(ngModel)]="coupon.redirectUrl" required>
                                <mat-error *ngIf="horizontalStepperStep1Errors.redirectUrl.required">
                                    Redirect URL is required!
                                </mat-error>
                                <mat-error *ngIf="horizontalStepperStep1Errors.redirectUrl.maxlength">
                                    maximum 255 characters!
                                </mat-error>
                                <mat-error *ngIf="horizontalStepperStep1Errors.redirectUrl.pattern">
                                    Redirect URL should be in proper format.! (only numbers, lowercase alphabets and . / - are allowed)
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <mat-form-field fxFlex="50">
                            <input maxlength="255" matInput placeholder="CI URL" formControlName="ciUrl" [(ngModel)]="coupon.ciUrl" readonly>
                            <mat-error *ngIf="horizontalStepperStep1Errors.ciUrl.maxlength">
                                maximum 255 characters!
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="Link Code" formControlName="linkCode">
                                        </textarea>
                        </mat-form-field>

                    </div>


                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <!-- <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button> -->

                        <button class="mr-8" mat-raised-button type="button" color="accent" (click)="decodeUrl()">
                            Decode URL
                        </button>

                        <button class="mr-8" mat-raised-button type="button" color="accent" (click)="validateUrl()">
                            Validate URL
                        </button>

                        <button class="mr-8" mat-raised-button type="button" color="accent" (click)="testUrl()">
                            Test URL
                        </button>

                        <button mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()" [disabled]="horizontalStepperStep1.invalid">
                            Finish
                        </button>

                    </div>

             

                </form>

            <!-- </mat-step> -->

            <!-- <mat-step *ngIf="isInstore==true || isDeal==true" [stepControl]="horizontalStepperStep2">

                <form [formGroup]="horizontalStepperStep2">

                    <ng-template matStepLabel>Images</ng-template>

                    <div *ngIf="isInstore==true" class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <h2> Upload Instore Coupon Image </h2>
                    </div>

                    <div *ngIf="isInstore==true" class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        FULL DESKTOP IMAGE CARD
                        <div class="card" style="margin-bottom:10px">
                            PREVIEW
                            <div class="card-preview">
                                <div class="fuse-card" fxFlex="100">
                                    <fancy-image-uploader [options]="InstoreImageOptions" (onUpload)="onUploadInstoreImage($event)" fxFlex="60"></fancy-image-uploader>
                                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center" style="margin-top:8px">
                                        <small> Note*
                                            <br> Min image size 255 * 255
                                            <br> Max image size 1500 * 1500
                                            <br> Only PNG format is acceptable </small>
                                    </div>
                                </div>
                            </div>
                            / PREVIEW
                        </div>
                        / FULL DESKTOP IMAGE CARD 
                    </div>

                    <div *ngIf="isDeal==true" class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <h2> Upload Deal Image </h2>
                    </div>

                    <div *ngIf="isDeal==true" class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        FULL DESKTOP IMAGE CARD
                        <div class="card" style="margin-bottom:10px">
                            PREVIEW
                            <div class="card-preview">
                                <div class="fuse-card" fxFlex="100">
                                    <fancy-image-uploader [options]="dealImageOptions" (onUpload)="onUploadDealImage($event)" fxFlex="60"></fancy-image-uploader>
                                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center" style="margin-top:8px">
                                        <small> Note*
                                            <br> Min image size 255 * 255
                                            <br> Max image size 1500 * 1500
                                            <br> Only PNG format is acceptable </small>
                                    </div>
                                </div>
                            </div>
                            / PREVIEW
                        </div>
                        / FULL DESKTOP IMAGE CARD 
                    </div>


                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button class="mr-8" mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep2.invalid">
                            Next
                        </button>

                    </div>

                </form>
            </mat-step> -->

            <!-- <mat-step [stepControl]="horizontalStepperStep3">

                <form [formGroup]="horizontalStepperStep3">

                    <ng-template matStepLabel>Affiliate Network</ng-template>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input maxlength="255" matInput placeholder="Redirect URL" formControlName="redirectUrl" [(ngModel)]="coupon.redirectUrl" required>
                                <mat-error *ngIf="horizontalStepperStep3Errors.redirectUrl.required">
                                    Redirect URL is required!
                                </mat-error>
                                <mat-error *ngIf="horizontalStepperStep3Errors.redirectUrl.maxlength">
                                    maximum 255 characters!
                                </mat-error>
                                <mat-error *ngIf="horizontalStepperStep3Errors.redirectUrl.pattern">
                                    Redirect URL should be in proper format.! (only numbers, lowercase alphabets and . / - are allowed)
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <mat-form-field fxFlex="50">
                            <input maxlength="255" matInput placeholder="CI URL" formControlName="ciUrl" [(ngModel)]="coupon.ciUrl" readonly>
                            <mat-error *ngIf="horizontalStepperStep3Errors.ciUrl.maxlength">
                                maximum 255 characters!
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="Link Code" formControlName="linkCode">
                                        </textarea>
                        </mat-form-field>

                    </div>


                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>

                        <button class="mr-8" mat-raised-button type="button" color="accent" (click)="decodeUrl()">
                            Decode URL
                        </button>

                        <button class="mr-8" mat-raised-button type="button" color="accent" (click)="validateUrl()">
                            Validate URL
                        </button>

                        <button class="mr-8" mat-raised-button type="button" color="accent" (click)="testUrl()">
                            Test URL
                        </button>

                        <button mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()" [disabled]="horizontalStepperStep3.invalid">
                            Finish
                        </button>

                    </div>

                </form>

            </mat-step> -->

        <!-- </mat-horizontal-stepper> -->
        <!-- / HORIZONTAL STEPPER EXAMPLE -->

    <!-- </div> -->

</div>
<!-- / CONTENT -->