@import "src/@fuse/scss/fuse";

:host {
    width: 70%;

    .mat-table {
        background: transparent;
        box-shadow: none;
        background-color:lightgrey;
        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 40px;
            

            background-color:whitesmoke;
            .mat-cell {

                &.mat-column-icon {
                }

                &.mat-column-detail-button {
                }
            }
        }
    }
}
