<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" [formGroup]="form">

            <div class="h2 mb-24">Update Category </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-slide-toggle [(ngModel)]="category.status" formControlName="status"> Category Status</mat-slide-toggle>
            </div>

            <br>

            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div fxFlex="50">
                    <mat-form-field fxFlex="92">
                        <input matInput maxlength="255" placeholder="Category Name" [(ngModel)]="category.name" formControlName="categoryName" required
                            minlength="2" pattern="[A-Za-z]+([ '-][a-zA-Z]+)*">
                        <mat-error ng-show="formErrors.categoryName.required">
                            Category Name is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.categoryName.minlength">
                            Category Name must be at least 2 characters long!
                        </mat-error>
                        <mat-error *ngIf="formErrors.categoryName.pattern">
                            Please enter a valid Category Name!
                        </mat-error>
                    </mat-form-field>
                </div>


                <mat-form-field fxFlex="50">
                    <textarea matInput placeholder="Description" formControlName="description" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6"
                        [(ngModel)]="category.description">
                    </textarea>
                    <mat-error *ngIf="formErrors.description.required">
                        Description is required!
                    </mat-error>
                </mat-form-field>

            </div>

            <br>

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <button type="button" mat-button="" mat-raised-button color="basic" class="mat-button" (click)="addNewSubCategory()">
                    <span class="mat-button-wrapper">Add Subcategory</span>
                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                    <div class="mat-button-focus-overlay"></div>
                </button>
            </div>

            <br>

            <div formArrayName="subcategories">
                <div *ngFor="let subcat of category.subCategories; let i = index">

                    <div [formGroupName]="i">

                        <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <mat-form-field fxFlex="20">
                                <input matInput maxlength="255" placeholder="Subcategory Name" formControlName="name" required minlength="2" pattern="[A-Za-z]+([ '-][a-zA-Z]+)*"
                                    [(ngModel)]="subcat.name">
                                <!-- <mat-error *ngIf="formErrors.categoryName.required">
                                    Category Name is required!
                                </mat-error>
                                <mat-error *ngIf="formErrors.categoryName.minlength">
                                    Category Name must be at least 2 characters long!
                                </mat-error> -->
                                <mat-error>
                                    Invalid Subcategory Name!
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="30">
                                <textarea matInput placeholder="Description" formControlName="description" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6"
                                    [(ngModel)]="subcat.description">
                                </textarea>
                                <!-- <mat-error *ngIf="formErrors.description.required">
                                        Description is required!
                                    </mat-error> -->
                            </mat-form-field>

                            <button type="button" mat-button color="warn" class="mat-button mat-warn" (click)="deleteSubCategory(i)">Remove
                            </button>

                        </div>
                    </div>

                </div>

            </div>


            <mat-chip-list style="visibility:hidden">
                <mat-chip>Two fish</mat-chip>
                <mat-chip color="primary" selected="true">Primary fish</mat-chip>
                <mat-chip color="accent" selected="true">Accent fish</mat-chip>
            </mat-chip-list>


            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="ADD MERCHANT CATEGORY" [disabled]="form.invalid">
                    UPDATE MERCHANT CATEGORY
                </button>


            </div>

        </form>

    </div>