<div class="list mat-elevation-z1" fxLayout="column">

    <!-- LIST HEADER -->
    <div class="list-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center">

        <fuse-scrumboard-board-edit-list-name
            fxFlex="1 0 auto"
            [list]="list"
            (onNameChanged)="onListNameChanged($event)">
        </fuse-scrumboard-board-edit-list-name>

        <!-- <div fxFlex="0 1 auto">
            <button mat-icon-button class="list-header-option-button" [matMenuTriggerFor]="listMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #listMenu="matMenu">
                <button mat-menu-item (click)="removeList(list.id)">Remove List</button>
            </mat-menu>
        </div> -->

    </div>
    <!-- / LIST HEADER -->

    <!-- LIST CONTENT -->
    <div class="list-content" fxLayout="column">

        <div class="list-cards ngx-dnd-container"
             [model]="list.idCards" ngxDroppable="card" (out)="onDrop($event)"
             fusePerfectScrollbar #listScroll>
            <fuse-scrumboard-board-card ngxDraggable
                                        (click)="openCardDialog(cardId)"
                                        class="scrumboard-board-card mat-elevation-z2 ngx-dnd-item"
                                        *ngFor="let cardId of list.idCards"
                                        [model]="cardId"
                                        [cardId]="cardId">
            </fuse-scrumboard-board-card>
        </div>
    </div>
    <!-- / LIST CONTENT -->

    <!-- NEW CARD BUTTON-->
    <div class="list-footer" *ngIf="list.id == '56027cf5a2ca3839a5d36103'">
        <fuse-scrumboard-board-add-card (onCardAdd)="onCardAdd($event)">
        </fuse-scrumboard-board-add-card>
    </div>
    <!-- / NEW CARD BUTTON-->

</div>
