<!-- SIDENAV HEADER -->
<div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">

  <div class="logo" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="logo-icon mr-16">filter_list</mat-icon>
    <span class="logo-text h1">Filtering Options</span>
  </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content py-16" fusePerfectScrollbar>

  <div class="nav">

    <div class="example-container">

      <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">

        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Transaction ID" formControlName="transactionID">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Affiliate Offer ID" formControlName="affiliateOfferID">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Order ID" formControlName="orderID">
        </mat-form-field>

        <div class="example-full-width">Sale Amount</div>
        <mat-radio-group class="example-radio-group" formControlName="saleAmount">
          <mat-radio-button class="example-radio-button" *ngFor="let range of saleAmountList" [value]="range">
            {{ range.start + ' - ' + range.end }}
          </mat-radio-button>
        </mat-radio-group>

        <br>
        
        <div class="example-full-width">Cashback Amount</div>
        <mat-radio-group class="example-radio-group" formControlName="cashbackAmount">
          <mat-radio-button class="example-radio-button" *ngFor="let range of cashbackAmountList" [value]="range">
            {{ range.start + ' - ' + range.end }}
          </mat-radio-button>
        </mat-radio-group>

        <!-- <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Cashback Percentage" formControlName="cashbackPercentage">
        </mat-form-field> -->
        
        <br>

        <div class="example-full-width">Percentage</div>
        <mat-radio-group class="example-radio-group" formControlName="cashbackPercentage">
          <mat-radio-button class="example-radio-button" *ngFor="let range of cashbackPercentageList" [value]="range">
            {{ range.start + ' - ' + range.end }}
          </mat-radio-button>
        </mat-radio-group>

        <br>

        <div class="example-full-width">Commission Amount</div>
        <mat-radio-group class="example-radio-group" formControlName="commissionAmount">
          <mat-radio-button class="example-radio-button" *ngFor="let range of commissionAmountList" [value]="range">
            {{ range.start + ' - ' + range.end }}
          </mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="example-full-width">
          <mat-select placeholder="Affiliate Commission Type" formControlName="affiliateCommissionType">
            <mat-option *ngFor="let affiliateCommissionType of affiliateCommissionTypeList" [value]="affiliateCommissionType">
              {{ affiliateCommissionType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Merchant Name" formControlName="merchantAffiliateName" [matAutocomplete]="merchantSearch">
          <mat-autocomplete #merchantSearch="matAutocomplete" [displayWith]="displaySelectedName">
            <mat-option *ngFor="let merchant of merchantSearchResult" [value]="merchant.name">
              {{ merchant.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-select formControlName="affiliateNetwork" placeholder="Affiliate Network">
            <mat-option *ngFor="let affiliateNetwork of affiliateNetworkSearchResult" [value]="affiliateNetwork">
              {{ affiliateNetwork.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-select placeholder="Affiliate Commission Status" formControlName="affiliateCommissionStatus">
            <mat-option *ngFor="let affiliateCommissionStatus of affiliateCommissionStatusList" [value]=" affiliateCommissionStatus">
              {{ affiliateCommissionStatus }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="number" placeholder="Affiliate Tracking ID" formControlName="affiliateTrackingID">
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="transactionDate" placeholder="Transaction Date" formControlName="transactionDate" readonly>
          <mat-datepicker-toggle matSuffix [for]="transactionDate"></mat-datepicker-toggle>
          <mat-datepicker #transactionDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-select placeholder="Cashback Status" formControlName="cashbackStatus">
            <mat-option *ngFor="let cashbackStatus of cashbackStatusList" [value]=" cashbackStatus">
              {{ cashbackStatus }}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Customer Name" formControlName="consumerName" [matAutocomplete]="event">
          <mat-autocomplete #event="matAutocomplete" [displayWith]="displaySelectedName">
            <mat-option *ngFor="let consumer of consumerNameSearchResult" [value]=" consumer.name">
              {{ consumer.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <br>

        <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="Apply Filter" (click)="filter()"
          [disabled]="btnDisabled">
          Apply Filter
        </button>
      </form>

    </div>

  </div>

</div>
<!-- / SIDENAV CONTENT -->