:host {

    input[type=number] {
      &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }
    }

    .example-radio-group {
      display: inline-flex;
      flex-direction: column;
    }
    
    .example-radio-button {
      margin: 5px;
    }
    
    .example-selected-value {
      margin: 15px 0;
    }
    
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;

    > .header {
        flex: 0 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .example-container {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      
      .example-container > * {
        width: 100%;
      }

      .mat-spinner {
        align:center;
      }
}
