<!-- CONTENT -->
<div class="content p-24">

    <div class="horizontal-stepper-wrapper">

        <!-- HORIZONTAL STEPPER EXAMPLE -->
        <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">

            <mat-step [stepControl]="horizontalStepperStep1">

                <form [formGroup]="horizontalStepperStep1">

                    <ng-template matStepLabel>Basic</ng-template>

                    <div>
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input matInput maxlength="255" placeholder="Name" formControlName="name" [(ngModel)]="student.name" (keyup)="onKey($event)"
                                    required>

                                <mat-error ng-show="horizontalStepperStep1Errors.name.required">
                                    student Name is required!
                                </mat-error>
                            </mat-form-field>
                        </div>


                        <mat-form-field fxFlex="50">
                            <mat-select placeholder="Country" formControlName="country" [(ngModel)]="student.country" required>
                                <mat-option *ngFor="let country of countries" [value]="country.name">
                                    {{country.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error ng-show="horizontalStepperStep1Errors.country.required">
                                Country is required!
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input matInput maxlength="255" placeholder="Alias" formControlName="alias" [(ngModel)]="student.alias">
                                <!-- <mat-error ng-show="horizontalStepperStep1Errors.alias.required">
                                    Alias is required!
                                </mat-error> -->
                            </mat-form-field>
                        </div>
                        <mat-form-field fxFlex="50">
                            <input matInput maxlength="255" placeholder="Title" formControlName="title" [(ngModel)]="student.title" required>
                            <mat-error ng-show="horizontalStepperStep1Errors.title.required">
                                Title is required!
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="Description" formControlName="description" [(ngModel)]="student.description">
                            </textarea>
                        </mat-form-field>
                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input matInput maxlength="255" placeholder="Heading 1" formControlName="h1" [(ngModel)]="student.h1" required>
                                <mat-error ng-show="horizontalStepperStep1Errors.h1.required">
                                    Heading 1 is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <mat-form-field fxFlex="100">
                            <input matInput maxlength="255" placeholder="Search Terms" formControlName="searchTerms" [(ngModel)]="student.searchTerms"
                                required>
                            <mat-error ng-show="horizontalStepperStep1Errors.searchTerms.required">
                                Search Terms are required!
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <mat-select placeholder="Barcode Format" formControlName="barcodeFormat" [(ngModel)]="student.barcodeFormat">
                                    <mat-option *ngFor="let barcode of barcodesList" [value]="barcode">
                                        {{barcode.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <mat-form-field fxFlex="50">
                            <mat-select placeholder="Link To Master US Store" formControlName="linkToMasterUsStore" [(ngModel)]="student.linkToMasterUsStore">
                                <mat-option *ngFor="let student of studentList" [value]="student">
                                    {{student.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="50">
                                <mat-form-field fxFlex="92">
                                    <mat-select placeholder="student Tier" formControlName="studentTier" [(ngModel)]="student.tierLookup">
                                        <mat-option *ngFor="let studentTier of studentTierList" [value]="studentTier">
                                            {{studentTier.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex="50">

                            </div>
    
                        </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-slide-toggle fxFlex="50" formControlName="featured" labelPosition="after" style="position: relative; float:right" [(ngModel)]="student.featured">
                            Featured
                        </mat-slide-toggle>

                        <mat-slide-toggle fxFlex="50" formControlName="monetized" labelPosition="after" style="position: relative; float:right" [(ngModel)]="student.isMonetized">
                            Monetized
                        </mat-slide-toggle>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-slide-toggle fxFlex="100" formControlName="isActive" labelPosition="after" style="position: relative; float:right" [(ngModel)]="student.isActive">
                            student Status
                        </mat-slide-toggle>

                        <mat-slide-toggle fxFlex="50" formControlName="displayExpiredOffers" labelPosition="after" style="position: relative; float:right"
                            [(ngModel)]="student.showExpiredOffers">
                            Do not display expired offers
                        </mat-slide-toggle>

                    </div>


                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep1.invalid">
                            Next
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="horizontalStepperStep2">

                <form [formGroup]="horizontalStepperStep2">

                    <ng-template matStepLabel>Logos</ng-template>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <h2> Upload Large Logo </h2>
                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <!-- FULL DESKTOP IMAGE CARD -->
                        <div class="card" style="margin-bottom:10px">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <div class="fuse-card" fxFlex="100">
                                    <fancy-image-uploader [options]="largeLogoOptions" (onUpload)="onUploadLargeImage($event)" fxFlex="60"></fancy-image-uploader>

                                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center" style="margin-top:8px">
                                        <small> Note* <br> Only 234 * 60 is acceptable <br> Only PNG format is acceptable </small>
                                    </div>
                                </div>
                            </div>
                            <!-- / PREVIEW -->
                        </div>
                        <!-- / FULL DESKTOP IMAGE CARD  -->
                    </div>

                    <!-- <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <h2> Upload Large Logo </h2>
                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <fancy-image-uploader [options]="largeLogoOptions" (onUpload)="onUploadLargeImage($event)" fxFlex="50"></fancy-image-uploader>
                    </div> -->

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <h2> Upload Small Logo </h2>
                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <!-- FULL DESKTOP IMAGE CARD -->
                        <div class="card" style="margin-bottom:10px">
                            <!-- PREVIEW -->
                            <div class="card-preview">
                                <div class="fuse-card" fxFlex="100">
                                        <fancy-image-uploader [options]="smallLogoOptions" (onUpload)="onUploadSmallImage($event)" fxFlex="60"></fancy-image-uploader>

                                    <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center" style="margin-top:8px">
                                        <small> Note* <br> Only 88 * 31 is acceptable <br> Only PNG format is acceptable </small>
                                    </div>
                                </div>
                            </div>
                            <!-- / PREVIEW -->
                        </div>
                        <!-- / FULL DESKTOP IMAGE CARD  -->
                    </div>

                    <!-- <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <fancy-image-uploader [options]="smallLogoOptions" (onUpload)="onUploadSmallImage($event)" fxFlex="50"></fancy-image-uploader><br> Image type "PNG" required. <br> Image size 88x31 required.
                    </div> -->



                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep2.invalid">
                            Next
                        </button>
                    </div>

                </form>
            </mat-step>

            <mat-step [stepControl]="horizontalStepperStep3">

                <form [formGroup]="horizontalStepperStep3">

                    <ng-template matStepLabel>Categories</ng-template>


                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">


                        <mat-form-field fxFlex="50">
                            <mat-select placeholder="student Category" formControlName="studentCategory" [(ngModel)]="student.studentCategoryId"
                                required>
                                <div *ngFor="let category of categoriesGroups">
                                    <mat-option [value]="category.id">{{category.name}}</mat-option>
                                    <mat-optgroup *ngFor="let subCategoryGroup of category.subCategories" [label]="subCategoryGroup.name">
                                        <mat-option *ngFor="let subCategory of subCategoryGroup.subCategories" [value]="subCategory.id">
                                            {{ subCategory.name }}
                                        </mat-option>
                                    </mat-optgroup>
                                </div>
                            </mat-select>
                            <mat-error ng-show="horizontalStepperStep3Errors.studentCategory.required">
                                student Category is required!
                            </mat-error>
                        </mat-form-field>

                        <div fxFlex="50">

                        </div>

                    </div>


                    <div class="content p-24">

                        <mat-accordion class="example-headers-align" *ngFor="let category of categoriesList; let i = index">

                            <mat-expansion-panel hideToggle="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <p>
                                            {{category.name}}
                                        </p>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <p>
                                            Select Sub-categories From {{category.name}} category
                                        </p>
                                        <p>
                                            <mat-checkbox [(ngModel)]="categoriesList[i].checked" formControlName="{{category.name}}" (click)="$event.stopPropagation();"
                                                (change)="OnSubcategoriesChangeStatus($event,category)"></mat-checkbox>
                                        </p>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>


                                <mat-table #table [dataSource]="category.subCategories" matSort *fuseIfOnDom>

                                    <!-- Name Column -->
                                    <ng-container cdkColumnDef="name">
                                        <mat-header-cell *cdkHeaderCellDef>Sub-category Name</mat-header-cell>
                                        <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
                                    </ng-container>

                                    <!-- Description Column -->
                                    <ng-container cdkColumnDef="description">
                                        <mat-header-cell *cdkHeaderCellDef>Description</mat-header-cell>
                                        <mat-cell *cdkCellDef="let row"> {{row.description}}</mat-cell>
                                    </ng-container>

                                    <!-- Enable Column -->
                                    <ng-container cdkColumnDef="enable">
                                        <mat-header-cell *cdkHeaderCellDef>Enable</mat-header-cell>
                                        <mat-cell *cdkCellDef="let row">
                                            <mat-checkbox formControlName="{{row.name}}" [(ngModel)]="row.checked" (change)="OnCategoryChangeStatus($event,i)"></mat-checkbox>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}" matRipple></mat-row>

                                </mat-table>


                            </mat-expansion-panel>

                        </mat-accordion>
                    </div>


                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep3.invalid">
                            Next
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="horizontalStepperStep4">

                <form [formGroup]="horizontalStepperStep4">

                    <ng-template matStepLabel>Affiliate</ng-template>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <mat-select placeholder="Affiliate Network" formControlName="affiliateNetwork" [(ngModel)]="student.affiliateNetwork" required>
                                    <mat-option *ngFor="let affiliateNetwork of affiliateNetworksList" [value]="affiliateNetwork">
                                        {{affiliateNetwork.name}}
                                    </mat-option>
                                </mat-select>

                                <mat-error ng-show="horizontalStepperStep4Errors.affiliateNetwork.required">
                                    Affiliate Network is required!
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <mat-form-field fxFlex="50">
                            <mat-select placeholder="Affiliate Status" formControlName="studentAffiliateStatus" [compareWith]="compareObjects" [(ngModel)]="student.studentAffiliateStatus"
                                required>
                                <mat-option *ngFor="let studentAffiliateStatus of studentAffiliateStatusList" [value]="studentAffiliateStatus">
                                    {{studentAffiliateStatus.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                <span class="help-block form-error text-danger small" ng-show="horizontalStepperStep4.controls['studentAffiliateStatus'].errors?.required &&
                                horizontalStepperStep4.controls['studentAffiliateStatus'].touched">Affiliate Status is required!
                                </span>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input matInput maxlength="255" placeholder="Affiliate student Id" formControlName="affiliatestudentId" [(ngModel)]="student.affiliatestudentId"
                                    required>

                                <mat-error ng-show=" horizontalStepperStep4Errors.affiliatestudentId.required">
                                    Affiliate student Id is required!
                                </mat-error>
                                <!-- <mat-error *ngIf=" horizontalStepperStep4Errors.affiliatestudentId.pattern">
                                    Affiliate student Id can not contain special characters!
                                </mat-error> -->

                            </mat-form-field>
                        </div>
                        <div fxFlex="50">

                        </div>

                    </div>


                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep4.invalid">
                            Next
                        </button>
                    </div>

                </form>

            </mat-step>

            <mat-step [stepControl]="horizontalStepperStep5">

                <form [formGroup]="horizontalStepperStep5">

                    <ng-template matStepLabel>URLs</ng-template>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input maxlength="255" matInput placeholder="Redirect URL" formControlName="redirectUrl" [(ngModel)]="student.redirectUrl"
                                    required>
                                <mat-error ng-show="horizontalStepperStep5Errors.redirectUrl.required">
                                    Redirect URL is required!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <mat-form-field fxFlex="50">
                            <input matInput placeholder="CI URL" formControlName="ciUrl" [(ngModel)]="student.ciUrl" readonly>
                        </mat-form-field>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <input maxlength="255" matInput placeholder="Domain URL" formControlName="domainUrl" [(ngModel)]="student.domainUrl">
                                <!-- <mat-error ng-show="horizontalStepperStep5Errors.domainUrl.required">
                                    Domain URL is required!
                                </mat-error> -->
                            </mat-form-field>
                        </div>
                        <mat-form-field fxFlex="50">
                            <input matInput maxlength="255" placeholder="Normalized URL Name " formControlName="normalizedUrl" [(ngModel)]="student.normalizedUrlName"
                                required>
                            <mat-error ng-show="horizontalStepperStep5Errors.normalizedUrl.required">
                                Normalized URL Name is required!
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button matStepperNext type="button" color="accent" [disabled]="horizontalStepperStep5.invalid">
                            Next
                        </button>
                    </div>

                </form>

            </mat-step>


            <mat-step [stepControl]="horizontalStepperStep6">

                <form [formGroup]="horizontalStepperStep6">
                    <ng-template matStepLabel>Management</ng-template>
                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <div fxFlex="50">
                            <mat-form-field fxFlex="92">
                                <mat-select placeholder="Manager" formControlName="manager" [compareWith]="compareObjects" [(ngModel)]="student.manager">
                                    <mat-option *ngFor="let user of usersList" [value]="user">
                                        {{user.firstName}} {{user.lastName}} ({{user.userName}})
                                    </mat-option>
                                </mat-select>
                                <mat-error ng-show="horizontalStepperStep6Errors.manager.required">
                                    Manager is required!
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <mat-form-field fxFlex="50">
                            <mat-select placeholder="Account Manager" formControlName="accountManager" [compareWith]="compareObjects" [(ngModel)]="student.accountManager">
                                <mat-option *ngFor="let user of usersList" [value]="user">
                                    {{user.firstName}} {{user.lastName}} ({{user.userName}})
                                </mat-option>
                            </mat-select>
                            <mat-error ng-show="horizontalStepperStep6Errors.accountManager.required">
                                Account Manager is required!
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="Admin Memo" formControlName="adminMemo" [(ngModel)]="student.adminMemo"></textarea>
                        </mat-form-field>




                    </div>
                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">

                        <mat-form-field fxFlex="100">
                            <textarea matInput placeholder="Account Manager Memo" formControlName="accountManagerMemo" [(ngModel)]="student.accountManagerMemo"></textarea>
                        </mat-form-field>


                    </div>

                    <div class="pt-24" fxLayout="row" fxLayoutAlign="center center">
                        <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                            Previous
                        </button>
                        <button mat-raised-button type="button" color="accent" (click)="finishHorizontalStepper()" [disabled]="horizontalStepperStep1.invalid || horizontalStepperStep2.invalid ||horizontalStepperStep3.invalid || horizontalStepperStep4.invalid || horizontalStepperStep5.invalid || horizontalStepperStep6.invalid">
                            Finish
                        </button>
                    </div>

                </form>

            </mat-step>

        </mat-horizontal-stepper>
        <!-- / HORIZONTAL STEPPER EXAMPLE -->

    </div>

</div>
<!-- / CONTENT -->