<div id="file-manager" class="page-layout simple right-sidenav" fusePerfectScrollbar>

    <mat-sidenav-container>

        <!-- SIDENAV -->
        <!-- <mat-sidenav class="sidenav left-sidenav" align="start" opened="false" mode="over"
                     fuseMatSidenavHelper="file-manager-left-sidenav">
            <fuse-file-manager-main-sidenav></fuse-file-manager-main-sidenav>
        </mat-sidenav> -->
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center" fxFlex>

            <!-- HEADER -->
            <div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between start">

                <!-- TOOLBAR -->
                <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between start">

                    <div class="left-side" fxLayout="row">
                        <!-- <button mat-icon-button class="sidenav-toggle"
                                fuseMatSidenavToggler="file-manager-left-sidenav">
                            <mat-icon>filter_list</mat-icon>
                        </button> -->
                    </div>

                    <div>
                        <form [formGroup]="placementShedulingForm">
                            <mat-form-field fxFlex="200px">
                                <mat-select placeholder="Select Page" formControlName="selectPage" [(ngModel)]="selectedPage">
                                    <mat-option *ngFor="let page of pages" [value]="page">
                                        {{page.name}}
                                    </mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="horizontalStepperStep4Errors.affiliateNetwork.required">
                                    Affiliate Network is required!
                                </mat-error> -->
                            </mat-form-field>
                            <div style="position:relative;top:10px">
                                <button mat-button class="mat-icon-button arrow" aria-label="Previous" (click)="previousweek()">
                                        <mat-icon>chevron_left</mat-icon>
                                    </button> Week
                                <button mat-button class="mat-icon-button arrow" aria-label="Previous" (click)="nextweek()">
                                        <mat-icon>chevron_right</mat-icon>
                                    </button>
                                <!-- <button type="button" (click)="previousweek()">Previous Week</button>
                                    <button type="button" (click)="nextweek()">Next Week</button> -->
                            </div>
                        </form>
                        
                    </div>
                </div>
                <!-- / TOOLBAR -->

                <!-- BREADCRUMB -->
                <div class="breadcrumb h1 pl-72" fxLayout="row" fxLayoutAlign="start center" *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
                    <!-- <div *ngFor="let path of pathArr; last  as isLast" fxLayout="row" fxLayoutAlign="start center">
                        <span>{{path}}</span>
                        <mat-icon *ngIf="!isLast" class="separator">chevron_right</mat-icon>
                    </div> -->
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Scheduled Placement</span>
                        <mat-icon class="separator">chevron_right</mat-icon>
                        <span>Seasonal Pages</span>
                    </div>
                </div>


                <!-- <button type="button" (click)="previousweek()">Previous Week</button>
                    <button type="button" (click)="nextweek()">Next Week</button> -->





                <!-- / BREADCRUMB -->

                <!-- ADD FILE BUTTON -->
                <!-- <div class="file-uploader">
                    <input hidden type="file" #fileInput/>
                    <button mat-fab
                            class="add-file-button mat-warn"
                            (click)="openUserAdd()"
                            aria-label="Add User"
                            *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                        <mat-icon>add</mat-icon>
                    </button>
                </div> -->
                <!-- / ADD FILE BUTTON -->

            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div class="content mat-white-bg">
                <app-swap [page]="selectedPage" [showLoadingBar]="showLoadingBar"></app-swap>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

        <!-- SIDENAV -->
        <!--
        <mat-sidenav class="sidenav right-sidenav " align="end" opened="true" mode="side"
                     fuseMatSidenavHelper="file-manager-right-sidenav" mat-is-locked-open="gt-md">
            <fuse-file-manager-details-sidenav></fuse-file-manager-details-sidenav>
        </mat-sidenav>
        -->
        <!-- / SIDENAV -->

    </mat-sidenav-container>
</div>