<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="64px">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- <ng-container cdkColumnDef="id">
        <mat-header-cell *cdkHeaderCellDef>Id</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container> -->

    
    <ng-container cdkColumnDef="system" >
        <mat-header-cell *cdkHeaderCellDef>System</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.partitionKey.split('_')[0]}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="module">
        <mat-header-cell *cdkHeaderCellDef>Module</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.partitionKey.split('_')[1]}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="activity">
        <mat-header-cell *cdkHeaderCellDef >Activity</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.activity}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="timeStamp">
        <mat-header-cell *cdkHeaderCellDef>Time Stamp</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.timestamp | date: 'longDate'}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="createdBy">
        <mat-header-cell *cdkHeaderCellDef>Created By</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.createdBy}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="userId">
        <mat-header-cell *cdkHeaderCellDef>User ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.userId}}</mat-cell>
    </ng-container>

    <!-- <ng-container cdkColumnDef="status">
        <mat-header-cell *cdkHeaderCellDef>Status</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.status}}</mat-cell>
    </ng-container> -->

    <ng-container cdkColumnDef="title">
        <mat-header-cell *cdkHeaderCellDef>title</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.title}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="entityId">
        <mat-header-cell *cdkHeaderCellDef>Entity Id</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.id}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="entity">
        <mat-header-cell *cdkHeaderCellDef>Entity</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.entity}}</mat-cell>
    </ng-container>

    <!-- <ng-container cdkColumnDef="orders">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Orders</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.orders}}</mat-cell>
    </ng-container>


    <ng-container cdkColumnDef="type">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Type</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.couponType}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="date_created">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Start Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.startDate | date: 'longDate'}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="end_date">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>End Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{row.endDate | date: 'longDate'}}</mat-cell>
    </ng-container> -->

    <!-- <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>{{row.modified}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openUserEdit($event,row.couponId)">
                      <mat-icon>edit</mat-icon>
                      <span>Update</span>
                    </button>
                  </mat-menu>
            </div>
        </mat-cell>
    </ng-container> -->

    <!-- Detail Button Column -->
    <ng-container cdkColumnDef="detail-button">
        <mat-header-cell *cdkHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="48px" fxHide.gt-md>
            <button mat-icon-button class="sidenav-toggle"
                    fuseMatSidenavToggler="file-manager-right-sidenav">
                <mat-icon>info</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             (click)="onSelect(row)"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
