<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="64px">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container> -->
    
    <ng-container cdkColumnDef="transactionId">
        <mat-header-cell *cdkHeaderCellDef>Transaction ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.transactionId ? row.transactionId : '-'}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="orderId">
        <mat-header-cell *cdkHeaderCellDef>Order ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.orderId ? row.orderId : '-'}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="affiliateNetwork">
        <mat-header-cell *cdkHeaderCellDef>Affiliate Network</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.affiliateName ? row.affiliateName : '-'}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="orderAmount">
        <mat-header-cell *cdkHeaderCellDef>Order Amount</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.orderAmount ? row.orderAmount : '-'}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="commissionAmount">
        <mat-header-cell *cdkHeaderCellDef>Commission Amount</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.commissionAmount ? row.commissionAmount : '-'}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="cashbackAmount">
        <mat-header-cell *cdkHeaderCellDef>Cashback Amount</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.cashbackAmount ? row.cashbackAmount : '-'}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="cashbackPercentage">
        <mat-header-cell *cdkHeaderCellDef>Cashback Percentage</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.cashbackPercentage ? row.cashbackPercentage : '-'}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="transactionDate">
        <mat-header-cell *cdkHeaderCellDef>Transaction Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.transactionDate ? (row.transactionDate| date: 'mediumDate') : '-'}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="payoutRequestId">
        <mat-header-cell *cdkHeaderCellDef>Payout Request ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.payoutRequestId ? row.payoutRequestId : '-'}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="payoutRequestDate">
        <mat-header-cell *cdkHeaderCellDef>Payout Request Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.payoutRequestedDate ? (row.payoutRequestedDate | date: 'mediumDate') : '-' }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="payoutAmount">
        <mat-header-cell *cdkHeaderCellDef>Payout Amount</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.payoutAmount ? row.payoutAmount : '-'}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="payoutApprovalDate">
        <mat-header-cell *cdkHeaderCellDef>Payout Approval Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.payoutApprovalDate  ? (row.payoutApprovalDate | date: 'mediumDate') : '-' }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="payoutStatus">
        <mat-header-cell *cdkHeaderCellDef>Payout Status</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.payoutStatus ? row.payoutStatus : '-'}}</mat-cell>
    </ng-container>

    <!-- <ng-container cdkColumnDef="paymentDate">
        <mat-header-cell *cdkHeaderCellDef fxFlex="65px">Payment Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="65px">{{row.paymentDate | date: 'mediumDate'}}</mat-cell>
    </ng-container> -->

    <ng-container cdkColumnDef="cashIn">
        <mat-header-cell *cdkHeaderCellDef>Cash In</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.cashIn ? row.cashIn : '-'}}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="cashOut">
        <mat-header-cell *cdkHeaderCellDef>Cash Out</mat-header-cell>
        <mat-cell *cdkCellDef="let row">{{row.cashOut ? row.cashOut : '-'}}</mat-cell>
    </ng-container>

    <!-- <ng-container cdkColumnDef="balance">
        <mat-header-cell *cdkHeaderCellDef fxFlex="50px">Balance</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="50px">{{row.balance}}</mat-cell>
    </ng-container> -->

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)" [ngClass]="{'mat-light-blue-50-bg':row == selected}"
        matRipple [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>
<mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
</mat-paginator>