<!-- <div class="content p-24"> -->
    <!-- <div fxLayout="row" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center"> -->
        <!-- <h1 mat-dialog-title>Hi</h1> -->

        <!-- <div mat-dialog-content fxFlexFill id="ngx-datatable"> -->
        <div mat-dialog-content id="ngx-datatable">

            <!-- HEADER -->
            <!-- <div class="header mat-accent-bg p-24 h-160" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
                <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                    <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="secondary-text s-16">home</mat-icon>
                        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                        <span class="secondary-text">Tables</span>
                    </div>
                    <div class="h2 mt-16">ngx-datatable</div>
                </div>

                <a mat-raised-button class="reference-button mat-white-bg mt-16 mt-sm-0"
                   href="https://github.com/swimlane/ngx-datatable"
                   target="_blank">
                    <mat-icon>link</mat-icon>
                    <span>Reference</span>
                </a>
            </div> -->
            <!-- / HEADER -->

            <!-- CONTENT -->

                <!-- <p class="mb-32">
                    <b>ngx-datatable</b> is a Angular component for presenting large and complex data.
                    It has all the features you would expect from any other table but in a light package with no external
                    dependencies. The table was designed to be extremely flexible and light; it doesn't make any assumptions
                    about your data or how you: filter, sort or page it.
                </p> -->
                <!-- [displayCheck]="displayCheck" -->
                <ngx-datatable
                    class="material"
                    [rows]="rows"
                    [loadingIndicator]="loadingIndicator"
                    [columnMode]="'force'"
                    [headerHeight]="48"
                    [footerHeight]="56"
                    [rowHeight]="'auto'"
                    [scrollbarH]="true"
                    [reorderable]="reorderable"
                    [selectionType]="'checkbox'"
                    [selectAllRowsOnPage]="false"
                    [displayCheck]="displayCheck"
                    
                    [limit]="10"
                    (select)='onCheckboxSelect($event)'>>

                    <ngx-datatable-column
                        [width]="30"
                        [sortable]="false"
                        [canAutoResize]="false"
                        [draggable]="false"
                        [resizeable]="false"
                        [headerCheckboxable]="true"
                        [checkboxable]="true"
                        name="Monetized">
                    </ngx-datatable-column>

                    <ngx-datatable-column [canAutoResize]="true" name="Merchant Name" prop="name"></ngx-datatable-column>

                    <!-- <ngx-datatable-column [canAutoResize]="true" name="Description" prop="description"></ngx-datatable-column> -->
                </ngx-datatable>

        </div>

        <br>

        <span>
            <div mat-dialog-actions>
                <button type="button"
                        mat-raised-button 
                        color="primary"
                        class="mat-button mat-accent"
                        (click)="update()">
                            <span class="mat-button-wrapper">Update</span>
                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                            <div class="mat-button-focus-overlay"></div>
                </button>
                <button type="button"
                        mat-raised-button  
                        color="warn"
                        class="mat-button mat-warn"
                        (click)="onCloseClick()">
                    Close
                </button>
            </div>
        </span>

    <!-- </div> -->

<!-- </div> -->