<div id="dashboard-project" class="page-layout simple right-sidenav" fxLayout="row">

    <mat-sidenav-container>

        <!-- CENTER -->
        <div class="center" fusePerfectScrollbar>

            <!-- HEADER -->
            <div class="header mat-accent-bg p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

                <div fxLayout="row" fxLayoutAlign="space-between start">
                    
                    <span class="mat-display-1 mb-0 welcome-message" *fuseIfOnDom
                          [@animate]="{value:'*',params:{x:'50px'}}"> <br/> {{user.firstName + " " + user.lastName}}
                    </span>

                    <button mat-icon-button fuseMatSidenavToggler="dashboards-right-sidenav" fxHide.gt-md>
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>

                <div fxLayout="row">
                    
                    <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">
                    <!-- <div class="selected-project"> -->
                        <mat-form-field style="position:absolute;right:30px;top:10px;width:200px">
                            <input type="text" matInput placeholder="Search Merchant" formControlName="merchantname" [matAutocomplete]="merchant">
                            <mat-autocomplete #merchant="matAutocomplete" (optionSelected)="callSomeFunction($event)">
                                <mat-option *ngFor="let item of merchantSearchResult" [value]="item.name">
                                    {{ item.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    <!-- </div> -->
                    </form>
                    <!-- <div>
                    <button mat-icon-button class="project-selector" [matMenuTriggerFor]="projectsMenu"
                            aria-label="Select project" style="position:relative;float:right">
                        <mat-icon>more_horiz</mat-icon>
                    </button>

                    <mat-menu #projectsMenu="matMenu" style="position:relative;float:right">
                        <button mat-menu-item *ngFor="let project of projects" (click)="selectedProject = project">
                            <span>{{project.name}}</span>
                        </button>
                    </mat-menu>
                    </div> -->
                </div>


                
            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div class="content">

                <!-- <mat-tab-group dynamicHeight> -->

                    <!-- <mat-tab label="Dashboard"> -->

                        <div class="widget-group grey-100-bg p-12" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom
                             [@animateStagger]="{value:'50'}">

                            <!-- WIDGET 1 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <mat-form-field>
                                            <mat-select class="simplified font-size-16"
                                                        [(ngModel)]="widgets.widget1.currentRange"
                                                        aria-label="Change range">
                                                <mat-option *ngFor="let range of widgets.widget1.ranges | keys"
                                                            [value]="range.key">
                                                    {{range.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="light-blue-fg font-size-72 line-height-72">
                                            {{widgets.widget1.data.count[widgets.widget1.currentRange]}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">{{widgets.widget1.data.label}}
                                        </div>
                                    </div>

                                    <!-- <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">
                                            {{widgets.widget1.data.extra.label}}:
                                        </span>
                                        <span class="h4 ml-8">
                                            {{widgets.widget1.data.extra.count[widgets.widget1.currentRange]}}
                                        </span>
                                    </div> -->
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>

                                    <div>
                                        {{widgets.widget1.detail}}
                                    </div>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>
                            <!-- / WIDGET 1 -->

                            <!-- WIDGET 2 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                                    fxLayoutAlign="space-between center">
                                    <mat-form-field>
                                            <mat-select class="simplified font-size-16"
                                                   [(ngModel)]="widgets.widget2.currentRange"
                                                   aria-label="Change range">
                                                <mat-option *ngFor="let range of widgets.widget2.ranges | keys"
                                                       [value]="range.key">
                                               {{range.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="light-blue-fg font-size-72 line-height-72">
                                            {{widgets.widget2.data.count[widgets.widget2.currentRange]}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">{{widgets.widget2.data.label}}
                                        </div>
                                    </div>

                                    <!-- <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">
                                            {{widgets.widget2.data.extra.label}}:
                                        </span>
                                        <span class="h4 ml-8">{{widgets.widget2.data.extra.count}}</span>
                                    </div> -->
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>

                                    <div>
                                        {{widgets.widget2.detail}}
                                    </div>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>
                            <!-- / WIDGET 2 -->

                            <!-- WIDGET 3 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                        <mat-form-field>
                                            <mat-select class="simplified font-size-16"
                                                        [(ngModel)]="widgets.widget3.currentRange"
                                                        aria-label="Change range">
                                                <mat-option *ngFor="let range of widgets.widget3.ranges | keys"
                                                            [value]="range.key">
                                                    {{range.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="orange-fg font-size-72 line-height-72">
                                                {{widgets.widget3.data.count[widgets.widget3.currentRange]}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">{{widgets.widget3.data.label}}
                                        </div>
                                    </div>

                                    <!-- <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">
                                            {{widgets.widget3.data.extra.label}}:
                                        </span>
                                        <span class="h4 ml-8">{{widgets.widget3.data.extra.count}}</span>
                                    </div> -->
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>

                                    <div>
                                        {{widgets.widget3.detail}}
                                    </div>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>
                            <!-- / WIDGET 3 -->

                            <!-- WIDGET 4 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                                        <mat-form-field>
                                            <mat-select class="simplified font-size-16"
                                                        [(ngModel)]="widgets.widget4.currentRange"
                                                        aria-label="Change range">
                                                <mat-option *ngFor="let range of widgets.widget4.ranges | keys"
                                                            [value]="range.key">
                                                    {{range.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <button mat-icon-button fuseWidgetToggle aria-label="more">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                    </div>

                                    <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                        <div class="blue-grey-fg font-size-72 line-height-72">
                                            {{widgets.widget4.data.count[widgets.widget4.currentRange]}}
                                        </div>
                                        <div class="h3 secondary-text font-weight-500">{{widgets.widget4.data.label}}
                                        </div>
                                    </div>

                                    <!-- <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                                        <span class="h4 secondary-text text-truncate">
                                            {{widgets.widget4.data.extra.label}}:
                                        </span>
                                        <span class="h4 ml-8">{{widgets.widget4.data.extra.count}}</span>
                                    </div> -->
                                </div>
                                <!-- / Front -->

                                <!-- Back -->
                                <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2">
                                    <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                                            aria-label="Flip widget">
                                        <mat-icon class="s-16">close</mat-icon>
                                    </button>

                                    <div>
                                        {{widgets.widget4.detail}}
                                    </div>
                                </div>
                                <!-- / Back -->

                            </fuse-widget>
                            <!-- / WIDGET 4 -->

                            <!-- WIDGET 5 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" fxLayout="row" fxFlex="100"
                                         class="widget widget5">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                    <div class="px-16 border-bottom" fxLayout="row wrap"
                                         fxLayoutAlign="space-between center">

                                        <div fxFlex class="py-16 h3">{{widgets.widget5.title}}</div>

                                        <div fxFlex="0 1 auto" class="py-16" fxLayout="row">
                                            <button mat-button class="px-16"
                                                    *ngFor="let range of widgets.widget5.ranges | keys"
                                                    (click)="widget5.currentRange = range.key"
                                                    [disabled]="widget5.currentRange == range.key">
                                                {{range.value}}
                                            </button>
                                        </div>
                                    </div>

                                    <div fxLayout="row wrap" fxLayoutAlign="start start">

                                        <div class="h-420 my-16" fxLayout="row" fxFlex="100" fxFlex.gt-sm="50">
                                            <ngx-charts-bar-vertical-stacked
                                                *fuseIfOnDom
                                                [scheme]="widget5.scheme"
                                                [results]="this.widgets.widget5.mainChart[this.widget5.currentRange]"
                                                [gradient]="widget5.gradient"
                                                [xAxis]="widget5.xAxis"
                                                [yAxis]="widget5.yAxis"
                                                [legend]="widget5.legend"
                                                [showXAxisLabel]="widget5.showXAxisLabel"
                                                [showYAxisLabel]="widget5.showYAxisLabel"
                                                [xAxisLabel]="widget5.xAxisLabel"
                                                [yAxisLabel]="widget5.yAxisLabel"
                                                (select)="widget5.onSelect($event)">
                                            </ngx-charts-bar-vertical-stacked>
                                        </div>

                                        <div class="my-16" fxFlex="100" fxLayout="row wrap" fxFlex.gt-sm="50">

                                            <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxLayoutAlign="center"
                                                 *ngFor="let widget of widgets.widget5.supporting | keys"
                                                 class="mb-24">

                                                <div class="px-24">
                                                    <div class="h4 secondary-text">{{widget.value.label}}</div>
                                                    <div class="mat-display-1 m-0">
                                                        {{widget.value.count[widget5.currentRange]}}
                                                    </div>
                                                </div>

                                                <div class="h-64">
                                                    <ngx-charts-area-chart
                                                        *fuseIfOnDom
                                                        [results]="widget.value.chart[widget5.currentRange]"
                                                        [scheme]="widget5.supporting.scheme"
                                                        [gradient]="widget5.supporting.gradient"
                                                        [xAxis]="widget5.supporting.xAxis"
                                                        [yAxis]="widget5.supporting.yAxis"
                                                        [legend]="widget5.supporting.legend"
                                                        [showXAxisLabel]="widget5.supporting.showXAxisLabel"
                                                        [showYAxisLabel]="widget5.supporting.showYAxisLabel"
                                                        [xAxisLabel]="widget5.supporting.xAxisLabel"
                                                        [yAxisLabel]="widget5.supporting.yAxisLabel"
                                                        [curve]="widget5.supporting.curve">
                                                    </ngx-charts-area-chart>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 5 -->

                            <!-- WIDGET 8 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-sm="50">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                                    <div class="h3 px-16 py-24">
                                        {{widgets.widget8.title}}
                                    </div>

                                    <mat-divider></mat-divider>

                                    <div class="h-400">
                                        <ngx-charts-pie-chart
                                            *fuseIfOnDom
                                            [scheme]="widget8.scheme"
                                            [results]="widgets.widget8.mainChart"
                                            [legend]="widget8.legend"
                                            [explodeSlices]="widget8.explodeSlices"
                                            [labels]="widget8.labels"
                                            [doughnut]="widget8.doughnut"
                                            [gradient]="widget8.gradient"
                                            (select)="widget8.onSelect($event)">
                                        </ngx-charts-pie-chart>
                                    </div>

                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 8 -->

                            <!-- WIDGET 9 -->
                            <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                         fxFlex="100" fxFlex.gt-sm="50">

                                <!-- Front -->
                                <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

                                    <div class="px-16 py-8 border-bottom" fxLayout="row"
                                         fxLayoutAlign="space-between center">
                                        <div class="h3">{{widgets.widget9.title}}</div>
                                        <mat-form-field>
                                            <mat-select [(ngModel)]="widget9.currentRange" aria-label="Change range">
                                                <mat-option *ngFor="let range of widgets.widget9.ranges | keys"
                                                            [value]="range.key">
                                                    {{range.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div fxFlex="0 1 auto">
                                            <div class="h4 secondary-text">{{widgets.widget9.commissionEarned.title}}</div>
                                            <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                                                <span class="secondary-text">$</span>
                                                <span>{{widgets.widget9.commissionEarned.count[widget9.currentRange]}}</span>
                                            </div>
                                        </div>
                                        <div class="h-52" fxFlex>
                                            <ngx-charts-area-chart
                                                *fuseIfOnDom
                                                [results]="widgets.widget9.commissionEarned.chart[widget9.currentRange]"
                                                [scheme]="widget9.scheme"
                                                [gradient]="widget9.gradient"
                                                [xAxis]="widget9.xAxis"
                                                [yAxis]="widget9.yAxis"
                                                [legend]="widget9.legend"
                                                [showXAxisLabel]="widget9.showXAxisLabel"
                                                [showYAxisLabel]="widget9.showYAxisLabel"
                                                [xAxisLabel]="widget9.xAxisLabel"
                                                [yAxisLabel]="widget9.yAxisLabel"
                                                [curve]="widget9.curve">
                                            </ngx-charts-area-chart>
                                        </div>
                                    </div>

                                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div fxFlex="0 1 auto">
                                            <div class="h4 secondary-text">{{widgets.widget9.cashbackClaim.title}}</div>
                                            <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                                                <span class="secondary-text">$</span>
                                                <span>{{widgets.widget9.cashbackClaim.count[widget9.currentRange]}}</span>
                                            </div>
                                        </div>
                                        <div class="h-52" fxFlex>
                                            <ngx-charts-area-chart
                                                *fuseIfOnDom
                                                [results]="widgets.widget9.cashbackClaim.chart[widget9.currentRange]"
                                                [scheme]="widget9.scheme"
                                                [gradient]="widget9.gradient"
                                                [xAxis]="widget9.xAxis"
                                                [yAxis]="widget9.yAxis"
                                                [legend]="widget9.legend"
                                                [showXAxisLabel]="widget9.showXAxisLabel"
                                                [showYAxisLabel]="widget9.showYAxisLabel"
                                                [xAxisLabel]="widget9.xAxisLabel"
                                                [yAxisLabel]="widget9.yAxisLabel"
                                                [curve]="widget9.curve">
                                            </ngx-charts-area-chart>
                                        </div>
                                    </div>

                                    <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div fxFlex="0 1 auto">
                                            <div class="h4 secondary-text">{{widgets.widget9.remaining.title}}</div>
                                            <div class="pt-8 mat-display-1 m-0 font-weight-300 text-nowrap">
                                                <span class="secondary-text">$</span>
                                                <span>{{widgets.widget9.remaining.count[widget9.currentRange]}}</span>
                                            </div>
                                        </div>
                                        <div class="h-52" fxFlex>
                                            <ngx-charts-area-chart
                                                *fuseIfOnDom
                                                [results]="widgets.widget9.remaining.chart[widget9.currentRange]"
                                                [scheme]="widget9.scheme"
                                                [gradient]="widget9.gradient"
                                                [xAxis]="widget9.xAxis"
                                                [yAxis]="widget9.yAxis"
                                                [legend]="widget9.legend"
                                                [showXAxisLabel]="widget9.showXAxisLabel"
                                                [showYAxisLabel]="widget9.showYAxisLabel"
                                                [xAxisLabel]="widget9.xAxisLabel"
                                                [yAxisLabel]="widget9.yAxisLabel"
                                                [curve]="widget9.curve">
                                            </ngx-charts-area-chart>
                                        </div>
                                    </div>

                                </div>
                                <!-- / Front -->

                            </fuse-widget>
                            <!-- / WIDGET 9 -->
                            

                        </div>
                        <!-- / WIDGET GROUP -->

                    <!-- </mat-tab> -->

                <!-- </mat-tab-group> -->

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->


    </mat-sidenav-container>

</div>
