<!-- CONTENT -->
<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" [formGroup]="form">

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div fxFlex="50">
                    <mat-form-field fxFlex="92">

                        <input matInput type="text" placeholder="Merchant" formControlName="merchant" [matAutocomplete]="merchant">
                        <mat-autocomplete #merchant="matAutocomplete" [displayWith]="displaySelectedName">
                            <mat-option *ngFor="let merchant of merchantSearchResult" [value]="merchant">
                                {{ merchant.name }}
                            </mat-option>
                        </mat-autocomplete>

                        <!-- <input matInput placeholder="Merchant" [(ngModel)]="merchant" formControlName="merchant"> -->
                    </mat-form-field>
                </div>

                <div fxFlex="50">

                    <button type="button" (click)="onMerchantSearchClick()" mat-raised-button color="accent" class="submit-button">
                        Search Merchant
                    </button>

                </div>

            </div>

            <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <div fxFlex="50">
                    <mat-form-field fxFlex="92">

                        <input matInput type="text" placeholder="Coupon" formControlName="coupon" [matAutocomplete]="coupon">
                        <mat-autocomplete #coupon="matAutocomplete" [displayWith]="displaySelectedName">
                            <mat-option *ngFor="let coupon of couponSearchResult" [value]="coupon.id">
                                {{ coupon.id }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div fxFlex="50">
                    <button type="button" (click)="onCouponSearchClick()" mat-raised-button color="accent" class="submit-button">
                        Search Coupon
                    </button>
                </div>

            </div> -->

        </form>


    </div>


</div>
<!-- / CONTENT -->