<!-- SIDENAV HEADER -->
<!-- <div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon mr-16">card_travel</mat-icon>
        <span class="logo-text h1">Merchants</span>
    </div>

</div> -->
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content py-16" fusePerfectScrollbar>

    <div class="nav">

        <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Input">
            </mat-form-field>
          
            <mat-form-field>
              <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-slide-toggle>Slide me!</mat-slide-toggle>
            <mat-slide-toggle>Slide me!</mat-slide-toggle>
            <mat-checkbox>Check me!</mat-checkbox>
            <mat-checkbox>Check me!</mat-checkbox>
            <mat-checkbox>Check me!</mat-checkbox>
            <mat-radio-group>
                <mat-radio-button value="1">Option 1</mat-radio-button>
                <mat-radio-button value="2">Option 2</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- <div class="nav-item" aria-label="inbox">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">card_travel</mat-icon>
                <span class="title">Merchants</span>
            </a>
        </div>

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">star</mat-icon>
                <div class="title">Starred</div>
            </a>
        </div>

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">folder_shared</mat-icon>
                <div class="title">Sharred with me</div>
            </a>
        </div>

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">access_time</mat-icon>
                <div class="title">Recent</div>
            </a>
        </div>

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">not_interested</mat-icon>
                <div class="title">Offline</div>
            </a>
        </div> -->
    </div>

</div>
<!-- / SIDENAV CONTENT -->
