<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="64px">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Coupon ID Column -->
    <ng-container cdkColumnDef="coupon_id">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Coupon ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md> {{ row.coupon.id }}</mat-cell>
    </ng-container>

    <!-- Merchant Name Column -->
    <ng-container cdkColumnDef="merchant_name">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs>Merchant Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs> {{ row.merchantName }} </mat-cell>
    </ng-container>

    <!-- Coupon Title Column -->
    <ng-container cdkColumnDef="coupon_title">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs>Coupon Title</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs >{{ row.couponTitle }}</mat-cell>
    </ng-container>

    <!-- Seasonal Pages Column -->
    <ng-container cdkColumnDef="seasonal_page">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs style="text-align:center">Seasonal Event</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs style="text-align:center"> {{ row.seasonalEventName }} </mat-cell>
    </ng-container>    

    <!-- Price Paid Column -->
    <ng-container cdkColumnDef="price_paid">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs>Price Paid</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs> {{ row.paidPlacementPrice }} </mat-cell>
    </ng-container>

    <!-- Start Date Column -->
    <ng-container cdkColumnDef="startDate">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs>Start Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs> {{ row.startDate }} </mat-cell>
    </ng-container>

    <!-- End Date Column -->
    <ng-container cdkColumnDef="endDate">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs>End Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs> {{ row.endDate }} </mat-cell>
    </ng-container>

    <!-- Modified Column -->
    <!-- <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>{{row.modified}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openPaidPlacementEdit($event,row.id)">
                      <mat-icon>edit</mat-icon>
                      <span>Update</span>
                    </button>
                    <button mat-menu-item (click)="openUserDashboard($event,row.id)">
                      <mat-icon>timeline</mat-icon>
                      <span>Activities</span>
                    </button>
                  </mat-menu>
            </div>
        </mat-cell>
    </ng-container> -->

    <!-- Detail Button Column -->
    <ng-container cdkColumnDef="detail-button">
        <mat-header-cell *cdkHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="48px" fxHide.gt-md>
            <button mat-icon-button class="sidenav-toggle"
                    fuseMatSidenavToggler="file-manager-right-sidenav">
                <mat-icon>info</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             (click)="onSelect(row)"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
