<!-- CONTENT -->
<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" [formGroup]="form">

            <div class="h2 mb-24">Update User</div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-slide-toggle [(ngModel)]="user.status" formControlName="status"> User Status</mat-slide-toggle>
            </div>


            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="50">
                    <input matInput maxlength="255" placeholder="First name" [(ngModel)]="user.firstName" formControlName="firstName" required
                        minlength="2" pattern="^[a-zA-Z ]*$">
                        <!-- pattern="^[a-zA-Z]+$" -->
                    <mat-error *ngIf="formErrors.firstName.required">
                        First name is required!
                    </mat-error>
                    <mat-error *ngIf="formErrors.firstName.minlength">
                        First name must be at least 2 characters long!
                    </mat-error>
                    <mat-error *ngIf="formErrors.firstName.pattern">
                        Digits and special characters are not allowed!
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <input matInput maxlength="255" placeholder="Last name" [(ngModel)]="user.lastName" formControlName="lastName" required minlength="2"
                    pattern="^[a-zA-Z ]*$">
                    <mat-error *ngIf="formErrors.lastName.required">
                        Last name is required!
                    </mat-error>
                    <mat-error *ngIf="formErrors.lastName.minlength">
                        Last name must be at least 2 characters long!
                    </mat-error>
                    <mat-error *ngIf="formErrors.lastName.pattern">
                        Digits and special characters are not allowed!
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">
                    <input matInput maxlength="255" type="email" placeholder="Email" [(ngModel)]="user.emailAddress" formControlName="emailAddress"
                        required email />
                    <mat-error *ngIf="formErrors.emailAddress.required">
                        Email is required!
                    </mat-error>
                    <mat-error *ngIf="!formErrors.emailAddress.required && formErrors.emailAddress.email">
                        Please enter a valid email address!
                    </mat-error>
                    <mat-error *ngIf="!formErrors.emailAddress.email && formErrors.emailAddress.pattern">
                        Please enter a valid email address!
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="100">
                    <input matInput placeholder="Phone" [(ngModel)]="user.phone" formControlName="phone" minlength="10" pattern="^[0-9]*$">
                    <!-- <mat-error *ngIf="formErrors.phone.required">
                        phone is required!
                    </mat-error> -->
                    <mat-error *ngIf="formErrors.phone.minlength">
                        Phone number must be at least 10 characters long!
                    </mat-error>
                    <mat-error *ngIf="formErrors.phone.pattern">
                        Please enter a valid Phone Number!
                    </mat-error>
                </mat-form-field>


            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">
                    <input matInput placeholder="User Name" [(ngModel)]="user.userName" formControlName="userName" required pattern="^[a-zA-Z0-9]*$">
                    <mat-error *ngIf="formErrors.userName.required">
                        User name is required!
                    </mat-error>
                    <mat-error *ngIf="!formErrors.userName.required && formErrors.userName.pattern">
                        Only alphabets and digits are allowed !
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="100">
                    <input matInput placeholder="User Type" [(ngModel)]="user.userType" formControlName="userType" required>
                    <mat-error *ngIf="formErrors.userType.required">
                        User type is required!
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="100">
                    <input matInput [matDatepicker]="dateCreated" placeholder="User Created On" [(ngModel)]="user.dateCreated" formControlName="dateCreated"
                        disabled readonly>
                    <mat-datepicker-toggle matSuffix [for]="dateCreated"></mat-datepicker-toggle>
                    <mat-datepicker #dateCreated></mat-datepicker>
                    <mat-error *ngIf="formErrors.dateCreated.required">
                        User creation date is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="100">
                    <input matInput [matDatepicker]="dateModified" placeholder="User Last Updated" [(ngModel)]="user.dateModified" formControlName="dateModified"
                        disabled readonly>
                    <mat-datepicker-toggle matSuffix [for]="dateModified"></mat-datepicker-toggle>
                    <mat-datepicker #dateModified></mat-datepicker>
                    <mat-error *ngIf="formErrors.dateModified.required">
                        User last updated is required!
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Add User Role" formControlName="userRole" (ngModelChange)="onRoleChange($event, this)">
                        <mat-option *ngFor="let role of roleOptions" [value]="role.id">
                            {{role.title}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!formErrors.roleRequired.userRoleRequiredError">
                        User role is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50" style="display:none">
                    <input matInput formControlName="userSelectedRoles" [(ngModel)]="fruits" style="display:none">
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-chip-list #chipList>
                    <mat-chip color="primary" *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (remove)="remove(fruit)"
                        color="accent" selected="true">
                        {{fruit.title}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>

            <mat-chip-list style="visibility:hidden">
                <mat-chip>Two fish</mat-chip>
                <mat-chip color="primary" selected="true">Primary fish</mat-chip>
                <mat-chip color="accent" selected="true">Accent fish</mat-chip>
            </mat-chip-list>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="UPDATE USER" [disabled]="form.invalid">
                    UPDATE USER
                </button>

            </div>
        </form>

    </div>


</div>
<!-- / CONTENT -->