@import "src/@fuse/scss/fuse";

#file-manager {

    mat-sidenav-container {

        .sidenav {
            width: 320px !important;
            min-width: 320px !important;
            max-width: 320px !important;

            &.left-sidenav {
            }

            &.right-sidenav {
                @include media-breakpoint('gt-md') {
                    z-index: 0;
                }
            }
        }

        > .mat-sidenav-content,
        > .mat-drawer-content {
            z-index: 1;

            .center {

                .header {
                    position: relative;
                    height: 100px;
                    min-height: 100px;
                    max-height: 100px;

                    @include media-breakpoint-down('sm') {
                        height: 120px;
                        min-height: 120px;
                        max-height: 120px;
                    }

                    .add-file-button {
                        position: absolute;
                        bottom: -28px;
                        right: 16px;
                        z-index: 999;
                    }
                }

                .content {
                }
            }
        }
    }

    .type-icon {

        &.folder {
            &:before {
                content: 'folder';
                color: #FFB300;
            }
        }

        &.document {
            &:before {
                content: 'insert_drive_file';
                color: #1565C0;
            }
        }

        &.spreadsheet {
            &:before {
                content: 'insert_chart';
                color: #4CAF50;
            }
        }
    }
}
