<!-- SIDENAV HEADER -->
<div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">

  <div class="logo" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="logo-icon mr-16">filter_list</mat-icon>
    <span class="logo-text h1">Filtering Options</span>
  </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content py-16" fusePerfectScrollbar>

  <div class="nav">

    <div class="example-container">

      <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Merchant" aria-label="Number" matInput formControlName="merchantName" [matAutocomplete]="merchant">
          <mat-autocomplete #merchant="matAutocomplete" [displayWith]="displaySelectedName">
            <mat-option *ngFor="let item of merchantSearchResult" [value]="item.name">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Coupon Tag" aria-label="Number" matInput formControlName="merchantTag">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Seasonal Event" aria-label="Number" matInput formControlName="seasonalEvent" [matAutocomplete]="event">
          <mat-autocomplete #event="matAutocomplete" [displayWith]="displaySelectedName">
            <mat-option *ngFor="let item of seasonalEventSearchResult" [value]="item.name">
              {{ item.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-select formControlName="couponTypes" placeholder="Coupon Type" >
            <mat-option *ngFor="let type of couponTypes" [value]="type">
              {{ type.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-select formControlName="couponStatuses" placeholder="Coupon Status">
            <mat-option *ngFor="let status of couponStatuses" [value]="status">
              {{ status }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        <div class="example-full-width">
          <mat-checkbox [(ngModel)]="enableOngoingOffers" [ngModelOptions]="{standalone: true}" [checked]="enableOngoingOffers"></mat-checkbox>
          <mat-slide-toggle [disabled]="!enableOngoingOffers" [(ngModel)]="onGoingOffers" [ngModelOptions]="{standalone: true}">Ongoing Offers</mat-slide-toggle>
        </div>
        <br>

        <div class="example-full-width">
          <mat-checkbox [(ngModel)]="enableExclusiveOffers" [ngModelOptions]="{standalone: true}" [checked]="enableExclusiveOffers"></mat-checkbox>
          <mat-slide-toggle [disabled]="!enableExclusiveOffers" [(ngModel)]="exclusiveOffers" [ngModelOptions]="{standalone: true}">Exclusive Offers</mat-slide-toggle>
        </div>
        <br>

        <div class="example-full-width">
          <mat-checkbox [(ngModel)]="enableExpiringSoon" [ngModelOptions]="{standalone: true}" [checked]="enableExpiringSoon"></mat-checkbox>
          <mat-slide-toggle [disabled]="!enableExpiringSoon" [(ngModel)]="expiringSoon" [ngModelOptions]="{standalone: true}">Expiring Offers</mat-slide-toggle>
        </div>
        <br>

        <div class="example-full-width">
          <mat-checkbox [(ngModel)]="enablePopularOffers" [ngModelOptions]="{standalone: true}" [checked]="enablePopularOffers"></mat-checkbox>
          <mat-slide-toggle [disabled]="!enablePopularOffers" [(ngModel)]="popularOffers" [ngModelOptions]="{standalone: true}">Popular Offers</mat-slide-toggle>
        </div>
        <br>

        <div class="example-full-width">
          <mat-checkbox [(ngModel)]="enableFreeShippingOffers" [ngModelOptions]="{standalone: true}" [checked]="enableFreeShippingOffers"></mat-checkbox>
          <mat-slide-toggle [disabled]="!enableFreeShippingOffers" [(ngModel)]="freeShipping" [ngModelOptions]="{standalone: true}">Free Shipping Offers</mat-slide-toggle>
        </div>
        <br>

        <!-- <div class="example-full-width">
                    <mat-checkbox
                      [(ngModel)]="enableShipping"
                      [ngModelOptions]="{standalone: true}"
                      [checked]="enableShipping"></mat-checkbox>
                    <mat-slide-toggle
                      [disabled]="!enableShipping"
                      [(ngModel)]="freeship"
                      [ngModelOptions]="{standalone: true}">Free Shipping</mat-slide-toggle>
                  </div>
                  <br>

                <br> -->

        <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="Apply Filter" (click)="filter()"
          [disabled]="btnDisabled">
          Apply Filter
        </button>

      </form>

    </div>

  </div>

</div>
<!-- / SIDENAV CONTENT -->