@import "src/@fuse/scss/fuse";

:host {
    width: 100%;

    input[type=number] {
      &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }
    }

    .full-width {
        width: 100%;
    }

    #mat-dialog-0 {
        padding: 0;
    }

    .mat-table {
        background: transparent;
        box-shadow: none;

        .mat-row {
            position: relative;
            cursor: pointer;
            min-height: 64px;

            .mat-cell {

                &.mat-column-icon {
                }

                &.mat-column-detail-button {
                }
            }
        }
    }
}
