<mat-toolbar matDialogTitle class="mat-accent m-0" style="height:104px">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">Add Paid Placement</span>
        <button mat-button class="mat-icon-button" (click)="closeModal()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div class="content p-24">
    
    <div mat-dialog-content fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
        
        <!-- REACTIVE FORM -->
        <form class="mat-white-bg" 
            (ngSubmit)="onSubmit()" 
            fxLayout="column" 
            fxLayoutAlign="start"
            fxFlex="1 0 auto" 
            name="form" 
            [formGroup]="form">

            <!-- <div class="h2 mb-24">Add Paid Placement</div> -->


            <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field class="full-width">
                    <input type="number" matInput placeholder="Coupon ID" [disabled]="true" formControlName="couponID">
                </mat-form-field>
            </div> -->

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field class="full-width">
                    <input type="number" matInput placeholder="Price" formControlName="pricePaid">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field class="full-width">
                    <input type="text" 
                           placeholder="Merchant Name" 
                           matInput 
                           formControlName="merchantName" 
                           [matAutocomplete]="merchant">
                        <mat-autocomplete #merchant="matAutocomplete" [displayWith]="displaySelectedName">
                          <mat-option *ngFor="let item of merchantNamesSearchResult" [value]="item">
                            {{ item.name }}
                          </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field class="full-width">
                    <input type="text" 
                           placeholder="Coupon Title" 
                           matInput 
                           formControlName="couponTitle" 
                           [matAutocomplete]="coupon">
                        <mat-autocomplete #coupon="matAutocomplete" [displayWith]="displaySelectedTitle">
                          <mat-option *ngFor="let item of couponNamesSearchResult" [value]="item">
                            {{ item.title }}
                          </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field class="full-width">
                    <input type="text" 
                           placeholder="Seasonal Event Name" 
                           matInput 
                           formControlName="seasonalEvent" 
                           [matAutocomplete]="seasonalEvent">
                        <mat-autocomplete #seasonalEvent="matAutocomplete" [displayWith]="displaySelectedName">
                          <mat-option *ngFor="let item of seasonalEventNamesSearchResult" [value]="item">
                            {{ item.name }}
                          </mat-option>
                        </mat-autocomplete>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
            </div>

            <!-- <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Category Name" formControlName="categoryName" required minlength="2"
                        pattern="[A-Za-z]+([ '-][a-zA-Z]+)*">
                    <mat-error *ngIf="formErrors.categoryName.required">
                        Category Name is required!
                    </mat-error>
                    <mat-error *ngIf="formErrors.categoryName.minlength">
                        Category Name must be at least 2 characters long!
                    </mat-error>
                    <mat-error *ngIf="formErrors.categoryName.pattern">
                        Please enter a valid Category Name!
                    </mat-error>
                </mat-form-field>
            
                <mat-form-field fxFlex="50">
                    <textarea matInput placeholder="Description"
                              formControlName="description" 
                              matTextareaAutosize 
                              matAutosizeMinRows="1" 
                              matAutosizeMaxRows="6">
                    </textarea>
                        <mat-error *ngIf="formErrors.description.required">
                            Description is required!
                        </mat-error>
                </mat-form-field>
            
            </div> -->

            <!-- <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <button type="button"
                        mat-button=""
                        mat-raised-button 
                        color="basic"
                        class="mat-button"
                        (click)="addNewSubCategory()">
                            <span class="mat-button-wrapper">Add Subcategory</span>
                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                            <div class="mat-button-focus-overlay"></div>
                </button>
            </div>
            
            
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
            
                <button type="submit" 
                        mat-raised-button color="accent" 
                        class="submit-button"
                        aria-label="ADD MERCHANT CATEGORY" 
                        [disabled]="form.invalid">
                            ADD MERCHANT CATEGORY
                </button>
            
            
            </div> -->

        </form>

    </div>

    <span>
        <div mat-dialog-actions>
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <button type="submit"
                        mat-button=""
                        mat-raised-button 
                        color="accent"
                        class="mat-button"
                        (click)="onSubmit()">
                        <!-- [disabled]="form.invalid"> -->
                            <span class="mat-button-wrapper">Add</span>
                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                            <div class="mat-button-focus-overlay"></div>
                </button>
                <button type="button"
                        mat-raised-button  
                        color="warn"
                        class="mat-button mat-warn"
                        (click)="closeModal()">
                    Close
                </button>
            </div>
        </div>
    </span>

</div>