<div id="calendar" class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-16 p-mat-24" fxLayout="column">
        <!-- <div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between start"> -->

        <div class="header-content" fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex="1 0 auto">

            <!-- BOARD SELECTION BUTTON -->
            <div fxLayout="row" fxLayoutAlign="center center" fxFlexOrder="2" fxFlexOrder.gt-xs="1">

                <div class="breadcrumb h1 pl-72" fxLayout="row" fxLayoutAlign="start center" *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Placements</span>
                        <mat-icon class="separator">chevron_right</mat-icon>
                        <span>Scheduled Placements</span>
                    </div>
                </div>
            </div>
            <!-- / BOARD SELECTION BUTTON -->

            <!-- TOOLBAR -->
            <div class="toolbar" fxLayout="row" fxLayoutAlign="space-between center" fxFlexOrder="3">

                <form [formGroup]="placementShedulingForm">
                <mat-form-field fxFlex="100">
                    <mat-select placeholder="" formControlName="selectPage" [(ngModel)]="selectedPage" required>
                        <mat-option *ngFor="let page of pages" [value]="page">
                            {{page.name}}
                        </mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="horizontalStepperStep4Errors.affiliateNetwork.required">
                        Affiliate Network is required!
                    </mat-error> -->
                </mat-form-field>
                </form>

                <button mat-button class="mat-icon-button arrow" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="selectedDay = {date:$event}"
                    aria-label="Previous" (click)="getWeeklyData(selectedDay)">
                <mat-icon>chevron_left</mat-icon>
            </button>

                <div class="title">
                    {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
                
                </div>

                <button mat-button class="mat-icon-button arrow" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="selectedDay = {date:$event}"
                    aria-label="Next" (click)="getWeeklyData(selectedDay)">
                <mat-icon>chevron_right</mat-icon>
            </button>

                <!-- <button mat-button class="mat-icon-button" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="selectedDay = {date:$event}"
                    aria-label="Today" matTooltip="Today">  -->
        <!--(click)="selectedDay = viewDate"-->
         <!-- <mat-icon>today</mat-icon>
    </button> -->

                <div class="header-bottom" fxLayout="row" fxLayoutAlign="center center" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'150ms'}}">

                </div>

            </div>
            <!-- / TOOLBAR -->

        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" fusePerfectScrollbar *fuseIfOnDom [@animate]="{value:'*',params:{delay:'200ms',y:'50px'}}">
        <div [ngSwitch]="view">
            
            <mwl-calendar-week-view [weekStartsOn]="1" *ngSwitchCase="'week'" [viewDate]="viewDate" (viewDateChange)="selectedDay = {date:$event}" [events]="events"
                [refresh]="refresh" (dayClicked)="dayClicked($event.day)" (eventClicked)="editEvent('edit', $event.event)">
            </mwl-calendar-week-view>
            
        </div>
    </div>
    <!-- / CONTENT -->
</div>