<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <ng-container cdkColumnDef="empty" >
        <mat-header-cell  *cdkHeaderCellDef fxFlex="50px"></mat-header-cell>
        <mat-cell  *cdkCellDef="let row" fxFlex="50px" (click)="onSelect(row)">
            <!-- <img src="{{'https://quotientmedia.blob.core.windows.net/mediacontainer/'+row.id+'_small.png'}}" /> -->
            <!-- <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon> -->
        </mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="130px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="130px" (click)="onSelect(row)">
            <img src="{{'https://quotientmedia.blob.core.windows.net/mediacontainer/'+row.id+'_small.png'}}" />
            <!-- <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon> -->
        </mat-cell>
    </ng-container>

    <!-- Merchant Name Column -->
    <ng-container cdkColumnDef="merchant_id">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md fxFlex="60px">ID</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)" fxFlex="60px"> {{row.id}}</mat-cell>
        </ng-container>

    <!-- Merchant Name Column -->
    <ng-container cdkColumnDef="merchant_name">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md fxFlex="150px">Merchant Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)" fxFlex="150px"> {{row.name}}</mat-cell>
    </ng-container>

     <!-- Merchant Name Column -->
     <ng-container cdkColumnDef="merchant_status">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md fxFlex="80px">Status</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)" fxFlex="80px"> {{row.isActive ? 'Active' : 'Inactive'}}</mat-cell>
        </ng-container>

    <!-- Manager Column -->
    <ng-container cdkColumnDef="manager">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs>Manager</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs>
            <span *ngIf="row['manager']['id'] > 0" (click)="onSelect(row)">{{ row.manager.name }} </span>
        </mat-cell>
    </ng-container>

    <!-- Affiliate Column -->
    <ng-container cdkColumnDef="affiliate">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs fxFlex="150px">Affiliate</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs (click)="onSelect(row)" fxFlex="150px">
            <span [ngClass]="myStyles(row.id)" style="padding: 5px">
                {{row.affiliateNetwork.name}}
            </span>
        </mat-cell>

    </ng-container>

    <!-- Description Column -->
    <ng-container cdkColumnDef="description">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Admin Memo</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)">
            <div style="width:200px;height:20px; overflow:hidden"><span *ngIf="row.description !== ''">{{row.adminMemo}}</span>  </div>
        </mat-cell>
    </ng-container>

    <!-- Modified Column -->
    <ng-container cdkColumnDef="modified">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md style="text-align:center ">Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md style="text-align:center ">{{row.modified}}
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openMerchantEdit($event,row.id)">
                        <mat-icon>edit</mat-icon>
                        <span>Update</span>
                    </button>
                    <button mat-menu-item (click)="openAddCoupon($event,row.id)">
                        <mat-icon>local_offer</mat-icon>
                        <span>Add Coupon</span>
                    </button>
                </mat-menu>
            </div>
        </mat-cell>
    </ng-container>

    <!-- Detail Button Column -->
    <ng-container cdkColumnDef="detail-button">
        <mat-header-cell *cdkHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="48px" fxHide.gt-md>
            <button mat-icon-button class="sidenav-toggle" fuseMatSidenavToggler="file-manager-right-sidenav">
                <mat-icon>info</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}"
        matRipple [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>

<mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
