<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" 
            (ngSubmit)="onSubmit()" 
            fxLayout="column" 
            fxLayoutAlign="start"
            fxFlex="1 0 auto" 
            name="form" 
            [formGroup]="form">

            <div class="h2 mb-24">Add New Category </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-slide-toggle [(ngModel)]="merchantCategoryStatus" formControlName="status"> Category Status</mat-slide-toggle>
            </div>

            <br>

            <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
<div fxFlex="50">
                <mat-form-field fxFlex="90">
                    <input matInput placeholder="Category Name" formControlName="categoryName" required minlength="2"
                        pattern="[A-Za-z]+([ '-][a-zA-Z]+)*" maxlength="255">
                    <mat-error *ngIf="formErrors.categoryName.required">
                        Category Name is required!
                    </mat-error>
                    <mat-error *ngIf="formErrors.categoryName.minlength">
                        Category Name must be at least 2 characters long!
                    </mat-error>
                    <mat-error *ngIf="!formErrors.categoryName.minlength && formErrors.categoryName.pattern">
                        Please enter a valid Category Name!
                    </mat-error>
                </mat-form-field>
            </div>

                <mat-form-field fxFlex="50">
                    <textarea matInput placeholder="Description"
                              formControlName="description" 
                              matTextareaAutosize 
                              matAutosizeMinRows="1" 
                              matAutosizeMaxRows="6">
                    </textarea>
                        <mat-error *ngIf="formErrors.description.required">
                            Description is required!
                        </mat-error>
                </mat-form-field>

            </div>

            <br>

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <button type="button"
                        mat-button=""
                        mat-raised-button 
                        color="basic"
                        class="mat-button"
                        (click)="addNewSubCategory()">
                            <span class="mat-button-wrapper">Add Subcategory</span>
                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                            <div class="mat-button-focus-overlay"></div>
                </button>
            </div>

            <br>

            <div formArrayName="subcategories">
                <div *ngFor="let subcat of form.controls.subcategories.controls; let i = index">
                    
                    <div [formGroupName]="i">

                        <div fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        
                            <mat-form-field fxFlex="20">
                                <input matInput placeholder="Subcategory Name" 
                                       formControlName="name" 
                                       required minlength="2"
                                       pattern="[A-Za-z]+([ '-][a-zA-Z]+)*" maxlength="255">
                                <!-- <mat-error *ngIf="formErrors.categoryName.required">
                                    Category Name is required!
                                </mat-error>
                                <mat-error *ngIf="formErrors.categoryName.minlength">
                                    Category Name must be at least 2 characters long!
                                </mat-error>
                                <mat-error *ngIf="formErrors.categoryName.pattern">
                                    Please enter a valid Category Name!
                                </mat-error> -->
                            </mat-form-field>
                        
                            <mat-form-field fxFlex="30">
                                <textarea matInput placeholder="Description"
                                          formControlName="description" 
                                          matTextareaAutosize 
                                          matAutosizeMinRows="1" 
                                          matAutosizeMaxRows="6">
                                </textarea>
                                    <!-- <mat-error *ngIf="formErrors.description.required">
                                        Description is required!
                                    </mat-error> -->
                            </mat-form-field>

                            <button type="button"
                                mat-button color="warn"
                                class="mat-button mat-warn"
                                (click)="deleteSubCategory(i)">Remove
                            </button>
                        
                        </div>
                    </div>

                </div>

            </div>


            <mat-chip-list style="visibility:hidden">
                <mat-chip>Two fish</mat-chip>
                <mat-chip color="primary" selected="true">Primary fish</mat-chip>
                <mat-chip color="accent" selected="true">Accent fish</mat-chip>
            </mat-chip-list>


            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <button type="submit" 
                        mat-raised-button color="accent" 
                        class="submit-button"
                        aria-label="ADD MERCHANT CATEGORY" 
                        [disabled]="form.invalid">
                            ADD MERCHANT CATEGORY
                </button>


            </div>

        </form>

    </div>
