<mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="primary" mode="indeterminate"></mat-progress-bar>
<div>
  <span style="padding: 3.3%; font-size: 1.5em">
    <b>Monday</b>
  </span>
  <span style="padding: 3.3%; font-size: 1.5em">
    <b>Tuesday</b>
  </span>
  <span style="padding: 2%; font-size: 1.5em">
    <b>Wednesday</b>
  </span>
  <span style="padding: 3.3%; font-size: 1.5em">
    <b>Thursday</b>
  </span>
  <span style="padding: 3.3%; font-size: 1.5em">
    <b>Friday</b>
  </span>
  <span style="padding: 3.3%; font-size: 1.5em">
    <b>Saturday</b>
  </span>
  <span style="padding: 3.3%; font-size: 1.5em">
    <b>Sunday</b>
  </span>
</div>

<div>
  <span style="padding: 3.3%; font-size: 1em">{{this.startDate | date}}</span>
  <span style="padding: 3.3%; font-size: 1em">{{this.day2 | date}}</span>
  <span style="padding: 3.3%; font-size: 1em">{{this.day3 | date}}</span>
  <span style="padding: 4%; font-size: 1em">{{this.day4 | date}}</span>
  <span style="padding: 3.3%; font-size: 1em">{{this.day5 | date}}</span>
  <span style="padding: 3.3%; font-size: 1em">{{this.day6 | date}}</span>
  <span style="padding: 3.3%; font-size: 1em">{{this.endDate | date}}</span>
</div>

<gridster style="background-color:lightblue" [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div style="text-align: center;">
      <div *ngIf="item.data.cid == null">
          <button style="float:left " (mousedown)="addDatePosition(item.date,item.y+1, item.data,item.slotId,'addDatePositionPlacement')" >
              <mat-icon>edit</mat-icon>
            </button>
      </div>

      <div *ngIf="item.data.cid != null">
          <button style="float:left " (mousedown)="addDatePosition(item.date, item.y+1, item.data,item.slotId,'editPlacement')" >
              <mat-icon>edit</mat-icon>
            </button>
      </div>
      <!-- {{item.date}} -->
      <span style="
      height: 35px;
      width: 35px;
      border-radius: 50%;
      font-size: 1.15em;
      color: #fff;
      line-height: 40px;
      text-align: center;
      background: steelblue;
      display: inline-block;
      margin-top: 15px;"
      > {{item.y+1}} </span>

      <button style="float:right " (mousedown)="removeItem($event, item)" (touchstart)="removeItem($event, item)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <div *ngIf="item.data.cid" style="text-align: center">
      <h1 style="color: black">{{item.data.cid}}</h1>
        <img style="position: relative;
        bottom: 15px;
        " src="{{'https://quotientmedia.blob.core.windows.net/mediacontainer/'+item.data.merchant+'_small.png'}}">
    </div>

  </gridster-item>
</gridster>