<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0" style="height:104px">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-button class="mat-icon-button" (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div class="testwrapper">

        <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar style="padding-top:0px !important">

            <form name="slotForm" [formGroup]="slotForm" class="event-form w-100-p" fxLayout="column" fxFlex>

                <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" style="padding-bottom:0px !important">

                    <p><b>Positions: </b>
                        <mat-radio-group style="margin-left:10px" formControlName="position" [(ngModel)]="slot.position">
                            <mat-radio-button style="margin-left:10px" *ngFor="let position of positionValues" [value]="position" name="position">{{position}}</mat-radio-button>
                        </mat-radio-group>
                    </p>
                </div>

                <div class="" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">

                    <mat-form-field class="mr-sm-24" fxFlex>
                        <input matInput [matDatepicker]="picker" placeholder="From" formControlName="startDate" [(ngModel)]="slot.startDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="mr-sm-24" fxFlex>
                        <input matInput [matDatepicker]="dpicker" placeholder="To" formControlName="endDate" [(ngModel)]="slot.endDate">
                        <mat-datepicker-toggle matSuffix [for]="dpicker"></mat-datepicker-toggle>
                        <mat-datepicker #dpicker></mat-datepicker>
                    </mat-form-field>

                </div>


                <div class="" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row">
                    <mat-form-field class="mr-sm-26" fxFlex>
                        <mat-select placeholder="Placement Type" formControlName="placementType" required [(ngModel)]="slot.type">
                            <mat-option *ngFor="let page of placementTypes" [value]="page">
                                {{page}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="horizontalStepperStep4Errors.affiliateNetwork.required">
                                                    Affiliate Network is required!
                                                </mat-error> -->
                    </mat-form-field>
                    <span style="width:30px;visibility:hidden"></span>
                    <mat-form-field class="mr-sm-26" fxFlex *ngIf="isTypeCoupon">
                        <input matInput name="couponId" formControlName="couponId" placeholder="Coupon ID" required [(ngModel)]="selectedId">
                    </mat-form-field>

                    <mat-form-field class="mr-sm-26" fxFlex *ngIf="isTypeInHousePromo">
                        <input matInput name="targetURL" formControlName="targetUrl" placeholder="Target URL" required [(ngModel)]="slot.extras.targetURL">
                    </mat-form-field>

                    <mat-form-field class="mr-sm-26" fxFlex *ngIf="isTypeMerchant">
                        <input type="text" placeholder="Merchant" aria-label="Number" matInput formControlName="merchantId" [matAutocomplete]="merchant"
                            [(ngModel)]="selectedMerchant">
                        <mat-autocomplete #merchant="matAutocomplete" [displayWith]="displaySlectedMerchant.bind(this)">
                            <mat-option *ngFor="let item of merchantSearchResult" [value]="item">
                                {{ item.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field class="mr-sm-26" fxFlex *ngIf="isTypeSeasonal">
                        <input type="text" placeholder="Seasonal Event" aria-label="Number" matInput formControlName="seasonalId" [matAutocomplete]="seasonal"
                            [(ngModel)]="selectedSeasonal">
                        <mat-autocomplete #seasonal="matAutocomplete" [displayWith]="displaySlectedSeasonal.bind(this)">
                            <mat-option *ngFor="let item of seasonalSearchResult" [value]="item">
                                {{ item.name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field class="mr-sm-26" fxFlex *ngIf="isTypeCategory">
                        <mat-select placeholder="Select Category" formControlName="categoryId" required [(ngModel)]="slot.itemId" (change)="onCategoryChange($event.value)">
                            <mat-option *ngFor="let category of categories" [value]="category.id">
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- CARD 4 -->
                <div class="card" *ngIf="isTypeCoupon">

                    <!-- PREVIEW -->
                    <div class="card-preview">

                        <div class="fuse-card mat-indigo-bg" fxFlex="100">

                            <div class="p-16" *ngIf="!couponAttached">
                                <div class="h1">Please Enter a valid coupon ID</div>
                            </div>

                            <div *ngIf="couponAttached">
                                <div class="p-16">
                                    <div class="h1">{{selectedCoupon.title}}</div>
                                    <div class="h4 secondary-text">{{selectedCoupon.merchant.name}}</div>
                                </div>

                                <div class="p-16 pt-0 line-height-1.75">
                                    {{selectedCoupon.description}}
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- / PREVIEW -->
                </div>
                <!-- / CARD 4 -->

                <div class="py-16" fxFlex="1 0 auto" fxLayout="column" fxLayout.gt-xs="row" style="padding-bottom:0px !important">

                    <p><b>Image Type: </b>
                        <mat-radio-group formControlName="imageType" [(ngModel)]="slot.imageType">
                            <mat-radio-button *ngFor="let type of imageTypes" [value]="type" name="type" style="margin-left:10px"> {{type}} </mat-radio-button>
                            <!-- <mat-radio-button value="2" style="margin-right:10px"> Half Image</mat-radio-button>
                            <mat-radio-button value="3" style="margin-right:10px"> Logo Only</mat-radio-button> -->
                        </mat-radio-group>
                    </p>
                </div>

                <!-- HALF IMAGE CARD -->
                <div class="card" style="margin-bottom:10px" *ngIf="isImageTypeHalf">

                    <!-- PREVIEW -->
                    <div class="card-preview">

                        <div class="fuse-card" fxFlex="100">

                            <div class="p-16" fxLayout="row" fxLayoutAlign="">

                                <div class="w-150 h-150">
                                    <img src="{{halfImagePath}}" *ngIf="!showHalfImageUploader">
                                    <fancy-image-uploader id="HalfImage" [options]="options" (onUpload)="onHalfImageUpload($event)" *ngIf="showHalfImageUploader"></fancy-image-uploader>
                                </div>

                                <div class="pr-14" style="margin-left:10px;width:230px">
                                    <div class="h1">
                                        <mat-form-field class="mr-sm-26" fxFlex>
                                            <input matInput name="couponId" formControlName="halfImageHeading" placeholder="Heading" [(ngModel)]="halfImageHeader">
                                        </mat-form-field>
                                    </div>
                                    <div class="h4 secondary-text">
                                        <mat-form-field class="w-100-p">
                                            <textarea matInput formControlName="halfImageContent" placeholder="Content" mat-maxlength="250" max-rows="5" style="height:60px"
                                                [(ngModel)]="halfImageContent">
                                            </textarea>
                                        </mat-form-field>
                                    </div>
                                </div>

                            </div>

                            <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                <button mat-raised-button style="position:relative;float:right;margin-right:10px" *ngIf="showHalfImageCancel" (click)="cancelHalfImage()">Cancel</button>
                                <div *ngIf="showHalfImageUploader">
                                    <small> Note* Only 300 * 250 is acceptable </small>
                                </div>
                                <button mat-raised-button style="position:relative;float:right" *ngIf="!showHalfImageUploader" (click)="changeHalfImage()">Change</button>
                            </div>

                        </div>

                    </div>
                    <!-- / PREVIEW -->

                </div>
                <!-- / HALF IMAGE CARD  -->


                <!-- FULL DESKTOP IMAGE CARD -->
                <div class="card" style="margin-bottom:10px" *ngIf="isImageTypeFull">

                    <!-- PREVIEW -->
                    <div class="card-preview">

                        <div class="fuse-card" fxFlex="100">

                            <img src="{{fullImageDesktopPath}}" width="100%" style="height:200px !important" *ngIf="!showFullImageDesktopUploader">
                            <fancy-image-uploader id="fullImageDesktop" [options]="optionsFullDesktop" (onUpload)="onFullImageDesktopUpload($event)"
                                (onRemove)="onFullImageDesktopRemove($event)" width="100%" style="height:200px !important" *ngIf="showFullImageDesktopUploader"></fancy-image-uploader>

                            <!-- <div class="p-16" fxLayout="row" fxLayoutAlign="">
                                                    </div> -->

                            <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center" style="margin-top:8px">
                                <button mat-raised-button style="position:relative;float:right;margin-right:10px" *ngIf="showFullImageDesktopCancel" (click)="cancelFullImageDesktop()">Cancel</button>
                                <div *ngIf="showFullImageDesktopUploader">
                                    <small> Note* Only 300 * 250 is acceptable </small>
                                </div>
                                <button mat-raised-button style="position:relative;float:right" *ngIf="!showFullImageDesktopUploader" (click)="changeFullImageDesktop()">Change</button>

                            </div>

                        </div>

                    </div>
                    <!-- / PREVIEW -->

                </div>
                <!-- / FULL DESKTOP IMAGE CARD  -->


                <!-- FULL MOBILE IMAGE CARD -->
                <div class="card" style="margin-bottom:10px" *ngIf="isImageTypeFull">

                    <!-- PREVIEW -->
                    <div class="card-preview">

                        <div class="fuse-card" fxFlex="50">

                            <img src="{{fullImageMobilePath}}" width="100%" style="height:200px !important" *ngIf="!showFullImageMobileUploader">
                            <fancy-image-uploader id="fullImageMobile" [options]="optionsFullMobile" (onUpload)="onFullImageMobileUpload($event)" width="100%"
                                style="height:200px !important" *ngIf="showFullImageMobileUploader"></fancy-image-uploader>

                            <!-- <div class="p-16" fxLayout="row" fxLayoutAlign="">
                                                                </div> -->

                            <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center" style="margin-top:8px">
                                <button mat-raised-button style="position:relative;float:right;margin-right:10px" *ngIf="showFullImageMobileCancel" (click)="cancelFullImageMobile()">Cancel</button>
                                <div *ngIf="showFullImageMobileUploader">
                                    <small> Note* Only 300 * 250 is acceptable </small>
                                </div>
                                <button mat-raised-button style="position:relative;float:right" *ngIf="!showFullImageMobileUploader" (click)="changeFullImageMobile()">Change</button>
                            </div>

                        </div>

                    </div>
                    <!-- / PREVIEW -->

                </div>
                <!-- / FULL MOBILE IMAGE CARD  -->





            </form>

        </div>

        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

            <button *ngIf="action !=='edit'" mat-raised-button (click)="closeDialog(buttonAction)" class="save-button mat-accent" [disabled]="btndisable"
                aria-label="SAVE">
            SAVE
        </button>

            <!-- <button *ngIf="action ==='edit'" mat-raised-button (click)="dialogRef.close(['save',eventForm])" class="save-button mat-accent"
            [disabled]="eventForm.invalid" aria-label="SAVE">
            SAVE
        </button> -->

            <button *ngIf="action ==='editPlacement'" mat-button class="mat-icon-button" (click)="closeDialog('delete')" aria-label="Delete"
                matTooltip="Delete">
                <mat-icon>delete</mat-icon>
            </button>
        </div>






    </div>
</div>