<div id="file-manager" class="page-layout simple right-sidenav" fusePerfectScrollbar>

    <mat-sidenav-container>
        <!-- CENTER -->
        <div class="center" fxFlex>

            <!-- HEADER -->
            <div class="header mat-accent-bg p-24" fxLayout="column" fxLayoutAlign="space-between start">

                <!-- TOOLBAR -->
                <div class="toolbar w-100-p" fxFlex fxLayout="row" fxLayoutAlign="space-between start">

                    <div class="left-side" fxLayout="row">
                        <!-- <button mat-icon-button class="sidenav-toggle"
                                fuseMatSidenavToggler="file-manager-left-sidenav">
                            <mat-icon>filter_list</mat-icon>
                        </button> -->
                    </div>

                    <!-- <div >
                        <form [formGroup]="placementShedulingForm">
                            <mat-form-field fxFlex="200px">
                                <mat-select placeholder="Select Page" formControlName="selectPage" [(ngModel)]="selectedPage">
                                    <mat-option *ngFor="let page of pages" [value]="page">
                                        {{page.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            </form>
                    
                    </div> -->
                    <div style="position:relative;top:15px">
                        <button mat-button class="mat-icon-button arrow" aria-label="Previous" (click)="previousweek()">
                            <mat-icon>chevron_left</mat-icon>
                        </button>
                        Week
                        <button mat-button class="mat-icon-button arrow" aria-label="Previous" (click)="nextweek()">
                            <mat-icon>chevron_right</mat-icon>
                        </button>
                        <!-- <button type="button" (click)="previousweek()">Previous Week</button>
                        <button type="button" (click)="nextweek()">Next Week</button> -->
                    </div>
                </div>
                <!-- / TOOLBAR -->

                <div class="breadcrumb h1 pl-72" fxLayout="row" fxLayoutAlign="start center" *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">

                    <div fxLayout="row" fxLayoutAlign="start center">
                        <span>Scheduled Placement</span>
                        <mat-icon class="separator">chevron_right</mat-icon>
                        <span>Popular Stores</span>
                    </div>
                </div>
            </div>

            <div class="content mat-white-bg">
                <app-swap [page]="selectedPage" [showLoadingBar]="showLoadingBar"></app-swap>
            </div>
            <!-- / CONTENT -->

        </div>


    </mat-sidenav-container>
</div>