<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="64px" (click)="onSelect(row)">
            <mat-icon class="type-icon" [ngClass]=""></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef>Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" (click)="onSelect(row)"> {{row.title}} </mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container cdkColumnDef="status">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Status</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="onSelect(row)"> {{row.status}}</mat-cell>
    </ng-container>

    <!-- Owner Column -->
    <ng-container cdkColumnDef="description">
        <mat-header-cell *cdkHeaderCellDef fxHide.xs>Description</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide.xs style="width:200px; height:20px; overflow:hidden" (click)="onSelect(row)"> {{row.description}} </mat-cell>
    </ng-container>

    <!-- Modified Column -->
    <ng-container cdkColumnDef="action">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Actions</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openUserEdit($event,row.id)">
                      <mat-icon>edit</mat-icon>
                      <span>Update</span>
                    </button>
                  </mat-menu>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"
             [ngClass]="{'mat-light-blue-50-bg':row == selected}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>
<mat-paginator #paginator
[length]="dataSource.filteredData.length"
[pageIndex]="0"
[pageSize]="25"
[pageSizeOptions]="[25, 50, 100]">
</mat-paginator>
