<div class="dialog-content-wrapper">
<div mat-dialog-content>

    <div class="example-container">

        <mat-form-field class="example-full-width">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

    </div>
    
    <mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

        <!-- Checkbox Column -->
        <ng-container cdkColumnDef="merchant">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          *ngIf="row.name"
                          >
                          {{row.name}}
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        

        <!-- <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row> -->
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"
                 [ngClass]="{'mat-light-blue-50-bg':row == selected}"
                 [@animate]="{value:'*',params:{y:'100%'}}"
        >
        </mat-row>
    </mat-table>

    <mat-paginator #paginator
        [length]="dataSource.filteredData.length"
        [pageIndex]="0"
        [pageSize]="25"
        [pageSizeOptions]="[25, 50, 100]">
    </mat-paginator>

</div>

<span>
    <div mat-dialog-actions>
        <button type="button"
                mat-raised-button 
                color="primary"
                class="mat-button mat-accent"
                (click)="update()">
                    <span class="mat-button-wrapper">Update</span>
                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                    <div class="mat-button-focus-overlay"></div>
        </button>
        <button type="button"
                mat-raised-button  
                color="warn"
                class="mat-button mat-warn"
                (click)="closeModal()">
            Close
        </button>
    </div>
</span>
</div>