<div mat-dialog-content>

    <div class="example-container">

        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Merchant" aria-label="Number" matInput [formControl]="merchantSearchTerm">
        </mat-form-field>

    </div>
    
    <mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!--     Merchant Name Column
    <ng-container cdkColumnDef="merchant_name">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Merchant Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>
            <mat-checkbox>{{row.name}}</mat-checkbox>
        </mat-cell>
    </ng-container> -->

        <ng-container cdkColumnDef="merchant_0">
            <!-- <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Row</mat-header-cell> -->
            <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>
                <mat-checkbox (change)="checked($event, row.merchant_0)"  *ngIf="row.merchant_0">{{row.merchant_0}}</mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="merchant_1">
            <!-- <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Row</mat-header-cell> -->
            <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>
                <mat-checkbox (change)="checked($event, row.merchant_1)" *ngIf="row.merchant_1">{{row.merchant_1}}</mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="merchant_2">
            <!-- <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Row</mat-header-cell> -->
            <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>
                <mat-checkbox (change)="checked($event, row.merchant_2)" *ngIf="row.merchant_2">{{row.merchant_2}}</mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="merchant_3">
            <!-- <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Row</mat-header-cell> -->
            <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>
                <mat-checkbox (change)="checked($event, row.merchant_3)" *ngIf="row.merchant_3">{{row.merchant_3}}</mat-checkbox>
            </mat-cell>
        </ng-container>

        <!-- <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row> -->
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"
                 [ngClass]="{'mat-light-blue-50-bg':row == selected}"
                 [@animate]="{value:'*',params:{y:'100%'}}"
        >
        </mat-row>
    </mat-table>

    <mat-paginator #paginator
    [length]="dataSource.filteredData.length"
    [pageIndex]="0"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>

</div>

<span>
    <div mat-dialog-actions>
        <button type="button"
                mat-raised-button 
                color="primary"
                class="mat-button mat-accent"
                (click)="update()">
                    <span class="mat-button-wrapper">Update</span>
                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                    <div class="mat-button-focus-overlay"></div>
        </button>
        <button type="button"
                mat-raised-button  
                color="warn"
                class="mat-button mat-warn"
                (click)="closeModal()">
            Close
        </button>
    </div>
</span>