<div *ngIf="!formActive" class="add-card-button" (click)="openForm()" fxLayout="row" fxLayoutAlign="start center">
    <div>
        <mat-icon class="s-20">add</mat-icon>
    </div>
    <span>Add Merchant</span>
</div>

<div *ngIf="formActive" class="add-card-form-wrapper">

    <form [formGroup]="form" (submit)="onFormSubmit()" class="add-card-form" fxLayout="column">

        <mat-form-field fxFlex floatPlaceholder="never">
            <!-- <input #nameInput matInput formControlName="name" placeholder="Card title" autocomplete="off" required> -->
            <input type="text" matInput placeholder="Add Merchant" formControlName="name" [matAutocomplete]="merchant">
            <mat-autocomplete #merchant="matAutocomplete">
                <mat-option *ngFor="let item of merchantSearchResult" [value]="item.name">
                    {{ item.name }}
                </mat-option>

            </mat-autocomplete>



            <!-- <input #nameInput type="text" placeholder="Add User Role" matInput formControlName="name" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of roleOptions | async" [value]="option.name">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete> -->
        </mat-form-field>

        <div class="pl-8" fxLayout="row" fxLayoutAlign="space-between center">

            <button mat-raised-button class="add-button mat-accent" aria-label="add" [disabled]="form.invalid">
                <span>Add</span>
            </button>

            <button mat-icon-button (click)="closeForm()" class="cancel-button" aria-label="cancel">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </form>
</div>