<form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" (ngSubmit)="onSubmit()" name="form" [formGroup]="form">
    <mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

        <!-- Type Column -->
        <ng-container cdkColumnDef="icon">
            <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxFlex="64px">
                <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
            </mat-cell>
        </ng-container>

        <!-- Merchant Name Column -->

        <ng-container cdkColumnDef="merchant-name">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Category Name</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md (click)="openModal(row.merchant.id)"> {{row.merchant.name}}
            </mat-cell>
        </ng-container>


        <!-- Modified Column -->
        <ng-container cdkColumnDef="reviewed">
            <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Reviewed</mat-header-cell>
            <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md>
                <p>
                    <mat-checkbox formControlName="{{row.merchant.id}}" [(ngModel)]="row.merchant.isReviewed"></mat-checkbox>
                </p>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;" [ngClass]="{'mat-light-blue-50-bg':row == selected}" matRipple
            [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>
    </mat-table>
    <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[25, 50, 100]">
    </mat-paginator>


    <button mat-raised-button type="button" color="accent" (click)="updateReviewedMerchants()">
        Add To Reviewed Merchants
    </button>
</form>