<!-- CONTENT -->
<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" [formGroup]="form">

            <div class="h2 mb-24">Update Affiliate Network</div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Name" [(ngModel)]="affiliate.name" formControlName="name" required minlength="2" pattern="[A-Za-z]+([ '-][a-zA-Z]+)*">
                    <mat-error *ngIf="formErrors.name.required">
                        Affiliate Name is required!
                    </mat-error>
                    <mat-error *ngIf="formErrors.name.minlength">
                        Affiliate Name must be at least 2 characters long!
                    </mat-error>
                    <mat-error *ngIf="formErrors.name.pattern">
                        Please enter a valid Affiliate Name!
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <mat-select placeholder="Status" formControlName="status" [(ngModel)]="affiliate.status" required>
                        <mat-option *ngFor="let status of statusList" [value]="status">
                            {{status}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formErrors.status.required">
                        Status is required!
                    </mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <mat-form-field fxFlex="50">
                    <input matInput placeholder="API URL" [(ngModel)]="affiliate.apiUrl" formControlName="apiUrl" required>
                    <mat-error *ngIf="formErrors.apiUrl.required">
                        API URL is required!
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <input matInput placeholder="Publisher Id" [(ngModel)]="affiliate.publisherId" formControlName="publisherId" required>
                    <mat-error *ngIf="formErrors.publisherId.required">
                        Publisher Id is required!
                    </mat-error>
                </mat-form-field>


            </div>


            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="UPDATE AFFILIATE" [disabled]="form.invalid">
                    UPDATE AFFILIATE
                </button>

            </div>
        </form>

    </div>


</div>
<!-- / CONTENT -->