<!-- SIDENAV HEADER -->
<div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="logo-icon mr-16">filter_list</mat-icon>
      <span class="logo-text h1">Filtering Options</span>
    </div>
  
  </div>
  <!-- / SIDENAV HEADER -->
  
  <!-- SIDENAV CONTENT -->
  <div class="content py-16" fusePerfectScrollbar>
  
    <div class="nav">
  
      <div class="example-container">
  
        <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form" [formGroup]="form">
  
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="User Name" aria-label="Number" matInput formControlName="userName" [matAutocomplete]="userName">
            <mat-autocomplete #userName="matAutocomplete" [displayWith]="displaySelectedName">
              <mat-option *ngFor="let user of userSearchResult" [value]="user.userName">
                {{ user.userName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
  
          <br>
  
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="User First Name" aria-label="Number" matInput formControlName="firstName" [matAutocomplete]="firstName">
            <mat-autocomplete #firstName="matAutocomplete" [displayWith]="displaySelectedName">
              <mat-option *ngFor="let user of userSearchResult" [value]="user.firstName">
                {{ user.firstName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
  
          <br>
  
          <mat-form-field class="example-full-width">
            <input type="text" placeholder="User Last Name" aria-label="Number" matInput formControlName="lastName" [matAutocomplete]="lastName">
            <mat-autocomplete #lastName="matAutocomplete" [displayWith]="displaySelectedName">
              <mat-option *ngFor="let user of userSearchResult" [value]="user.lastName">
                {{ user.lastName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
  
          <br>
  
          <mat-form-field class="example-full-width">
            <mat-select placeholder="User Activity" formControlName="userActivity">
              <mat-option *ngFor="let activity of userActivities" [value]="activity.title">
                {{ activity.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <br>
  
  
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate" readonly>
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName="endDate" readonly>
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>
  
          <br>
  
          <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="Apply Filter" (click)="filter()"
            [disabled]="btnDisabled">
            Apply Filter
          </button>
  
        </form>
  
      </div>
  
    </div>
  
  </div>
  <!-- / SIDENAV CONTENT -->