<!-- CONTENT -->
<div class="content p-24">


    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <!-- REACTIVE FORM EXAMPLE -->

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" name="form" [formGroup]="form">

            <div class="h2 mb-24">Reset Password</div>


            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div fxFlex="50">
                    <mat-form-field fxFlex="92">
                        <input matInput type="password" placeholder="Reset Password" [(ngModel)]="passwordData.password" formControlName="password"
                            minlength="8" maxlength="255" required>

                        <mat-error *ngIf="form.controls['password'].touched && !formErrors.password.required && !formErrors.password.minlength">
                            Reset password is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.password.required">
                            Reset password is required!
                        </mat-error>
                        <mat-error *ngIf="!formErrors.password.required && formErrors.password.minlength">
                            Reset password must be at least 8 characters long!
                        </mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field fxFlex="100">
                    <input matInput type="password" maxlength="255" minlength="8" placeholder="Confirm Password" [(ngModel)]="passwordData.passwordConfirm"
                        formControlName="passwordConfirm" required>

                    <mat-error *ngIf="form.controls['passwordConfirm'].touched && !formErrors.passwordConfirm.required && !formErrors.passwordConfirm.minlength">
                        Password confirmation is required!
                    </mat-error>

                    <mat-error *ngIf="formErrors.passwordConfirm.required">
                        Password confirmation is required!
                    </mat-error>
                    <mat-error *ngIf="formErrors.passwordConfirm.minlength">
                        Confirm password must be at least 8 characters long!
                    </mat-error>
                    <mat-error *ngIf="!formErrors.passwordConfirm.passwordsNotMatch && formErrors.password.required">
                        First fill reset password field!
                    </mat-error>

                    <mat-error *ngIf="formErrors.passwordConfirm.passwordsNotMatch">
                        Reset passwords must match!
                    </mat-error>

                </mat-form-field>

            </div>


            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                <button type="submit" mat-raised-button color="accent" class="submit-button" aria-label="RESET PASSWORD" [disabled]="form.invalid">
                    RESET PASSWORD
                </button>

            </div>
        </form>

    </div>


</div>
<!-- / CONTENT -->