<mat-table #table [dataSource]="dataSource" matSort *fuseIfOnDom [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container cdkColumnDef="icon">
        <mat-header-cell *cdkHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="64px">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- Customer ID Column -->
    <ng-container cdkColumnDef="requestId">
        <mat-header-cell *cdkHeaderCellDef>Request ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.reqId}} </mat-cell>
    </ng-container>

    <!-- Customer ID Column -->
    <ng-container cdkColumnDef="customerId">
        <mat-header-cell *cdkHeaderCellDef>Customer ID</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.customerId}} </mat-cell>
    </ng-container>

    <!-- Customer Name Column -->
    <ng-container cdkColumnDef="customerName">
        <mat-header-cell *cdkHeaderCellDef>Customer Name</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.customerName}} </mat-cell>
    </ng-container>

    <!-- Customer User Name Column -->
    <ng-container cdkColumnDef="requestAmount">
        <mat-header-cell *cdkHeaderCellDef>Request Amount</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.reqAmount}} </mat-cell> 
    </ng-container>

    <!-- Customer User Name Column -->
    <ng-container cdkColumnDef="requestStatus">
        <mat-header-cell *cdkHeaderCellDef>Request Status</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.reqStatus}} </mat-cell> 
    </ng-container>

    <!-- Customer User Name Column -->
    <ng-container cdkColumnDef="requestDate">
        <mat-header-cell *cdkHeaderCellDef>Request Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.reqDate | date: 'longDate' }} </mat-cell> 
    </ng-container>

    <!-- Customer User Name Column -->
    <ng-container cdkColumnDef="approvalDate">
        <mat-header-cell *cdkHeaderCellDef>Approval Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{!row.approvalDate ? '-' : row.approvalDate | date: 'longDate' }} </mat-cell> 
    </ng-container>

    <!-- Customer User Name Column -->
    <ng-container cdkColumnDef="approvedBy">
        <mat-header-cell *cdkHeaderCellDef>Approved By</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.approvedBy ? row.approvedBy : '-' }} </mat-cell> 
    </ng-container>

    <!-- Customer User Name Column -->
    <ng-container cdkColumnDef="declinedDate">
        <mat-header-cell *cdkHeaderCellDef>Declined Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{!row.declinedDate ? '-' : row.declinedDate | date: 'longDate' }} </mat-cell> 
    </ng-container>

    <!-- Customer User Name Column -->
    <ng-container cdkColumnDef="declinedBy">
        <mat-header-cell *cdkHeaderCellDef>Decline By</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.declinedBy ? row.declinedBy : '-'}} </mat-cell> 
    </ng-container>

    <!-- Customer User Name Column -->
    <ng-container cdkColumnDef="dropDate">
        <mat-header-cell *cdkHeaderCellDef>Drop Date</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{!row.dropDate ? '-' : row.dropDate  | date: 'longDate' }} </mat-cell> 
    </ng-container>

    <!-- Cashback Balance Column -->
    <ng-container cdkColumnDef="changeStatus">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Change Status</mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxHide fxShow.gt-md style="text-align:center;height:45px"> 
            <button mat-mini-fab class="add-file-button mat-green-500-bg" aria-label="Add User" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}" disabled="{{row.reqStatus != 'Pending'}}" (click)="changeStatus('Approved',row.reqId)">
                <mat-icon>check</mat-icon>
            </button>
            <button mat-mini-fab class="add-file-button mat-warn" aria-label="Add User" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}" disabled="{{row.reqStatus != 'Pending'}}" (click)="changeStatus('Declined',row.reqId)">
                <mat-icon>clear</mat-icon>
            </button>
        </mat-cell>
    </ng-container>


    <!-- Detail Button Column -->
    <ng-container cdkColumnDef="detail-button">
        <mat-header-cell *cdkHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
        <mat-cell *cdkCellDef="let row" fxFlex="48px" fxHide.gt-md>
            <button mat-icon-button class="sidenav-toggle" fuseMatSidenavToggler="file-manager-right-sidenav">
                <mat-icon>info</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)" [ngClass]="{'mat-light-blue-50-bg':row == selected}"
        [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>
<mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
</mat-paginator>