:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100%;

    > .header {
        flex: 0 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    .example-container {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
      }
      
      .example-container > * {
        width: 100%;
      }
}
